<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @part.title %>
</p>

<p>
  <b>Price:</b>
  <%= @part.price %>
</p>

<p>
  <b>Colors:</b>
  <% @part.colors.find(:all).each do |color| %>
    <%= color.title %>
  <% end %>
</p>

<p>
  <%= link_to 'Edit', edit_part_path(@part) %> |
  <%= link_to 'Back', parts_path %>
</p>
