<div class="responsive-table-container">
<table class="table">
  <thead>
    <tr>
      <th>
        Email
      </th>
      <th>
        Admin
      </th>
      <th>
        Dealer
      </th>
      <% if type == :camper %>
        <th>Loc</th>
      <% end %>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% users.each do |user| %>
      <tr>
        <td>
          <%= mail_to user.email %>
        </td>
        <td>
          <% if user.admin %>
            <span style="color:green; font-size: 120%;">
              ✓
            </span>
          <% else %>
            <span style="color:red; font-size: 120%;">
              ✗
            </span>
          <% end %>
        </td>
        <td>
          <% if user.wholesale %>
            <span style="color:green; font-size: 120%;">
              ✓
            </span>
          <% else %>
            <span style="color:red; font-size: 120%;">
              ✗
            </span>
          <% end %>
        </td>
        <% if type == :camper %>
          <td>
            <% if user.is_attending_campout_in_2015 && user.latitude.present? %>
              <span>
                <%= user.city %>,
                <%= user.state %>
                <br>
                <a
                  style="font-size: 12px"
                  href="https://maps.google.com/maps?z=1&t=m&q=<%= user.latitude %>,<%= user.longitude %>">
                  (<%= user.latitude %> <%= user.longitude %>)
                </a>
              </span>
            <% else %>
              <span style="color:red;">
                ✗ no lat/long
              </span>
            <% end %>
          </td>
        <% end %>
        <td>
          <%= link_to "Show", user_path(user), class: "btn btn--table" %>
          <%= link_to "Edit", edit_user_path(user), class: "btn btn--table" %>
          <%= link_to 'Destroy', user, confirm: 'Are you sure?', method: :delete, class: 'btn btn--table' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
