<div class="grid wrap">
  <div class="unit w-1-2">
    <h2>
      My Info <span style="font-size: 70%;">(<%= link_to "Edit", edit_my_info_path %>)</span>
    </h2>
  </div>
</div>
<div class="grid wrap">
  <div class="unit w-1-2">
    <h3>
       Contact Info
    </h3>
    <div class="label-input-pair">
      <label class="label">
        Company
      </label>
      <p>
        <% if @user.company.present? %>
          <%= @user.company %>
        <% else %>
          &hellip;
        <% end %>
      </p>
    </div>
    <div class="label-input-pair">
      <label class="label">
        Company Contact
      </label>
      <p>
        <% if @user.contact.present? %>
          <%= @user.contact %>
        <% else %>
          &hellip;
        <% end %>
      </p>
    </div>
    <div class="label-input-pair">
      <label class="label">
        Website URL
      </label>
      <p>
        <% if @user.company_url.present? %>
          <%= @user.company_url %>
        <% else %>
          &hellip;
        <% end %>
      </p>
    </div>
    <div class="label-input-pair">
      <label class="label">
        Phone Number
      </label>
      <p>
        <% if @user.phone_no.present? %>
          <%= @user.phone_no %>
        <% else %>
          &hellip;
        <% end %>
      </p>
    </div>
  </div>
  <div class="unit w-1-2">
    <h3>
      Postal Address
    </h3>
    <div class="label-input-pair">
      <label class="label">
        Address
      </label>
      <p>
        <% if @user.line1.present? %>
          <%= @user.line1 %><br>
          <%= @user.city %>
          <%= @user.state %>
          <%= @user.zip_code %>
          <%= @user.country %>
        <% else %>
          &hellip;
        <% end %>
      </p>
    </div>
  </div>
</div>
