<div class="grid wrap">
  <div class="unit w-1-2">
    <h2>
      My Info <span style="font-size: 70%;">(<%= link_to "Edit", edit_my_info_path(id: @user) %>)</span>
    </h2>
  </div>
</div>
<div class="grid wrap">
  <div class="unit w-1-2">
    <h3>
       Contact Info
    </h3>
    <div class="label-input-pair">
      <label class="label">
        Company
      </label>
      <p>
        <%= @user.company %>
      </p>
    </div>
    <div class="label-input-pair">
      <label class="label">
        Company Contact
      </label>
      <p>
        <%= @user.contact %>
      </p>
    </div>
    <div class="label-input-pair">
      <label class="label">
        Website URL
      </label>
      <p>
        <%= @user.company_url %>
      </p>
    </div>
    <div class="label-input-pair">
      <label class="label">
        Phone Number
      </label>
      <p>
        <%= @user.phone_no %>
      </p>
    </div>
  </div>
  <div class="unit w-1-2">
    <h3>
      Postal Address
    </h3>
    <div class="label-input-pair">
      <label class="label">
        Address
      </label>
      <p>
        <%= @user.line1 %><br>
        <%= @user.city %>
        <%= @user.state %>
        <%= @user.zip_code %>
        <%= @user.country %>
      </p>
    </div>
  </div>
</div>
