<h2>
  My Profile <span style="font-size: 70%;">(<%= link_to "Edit", edit_user_registration_path %>)</span>
</h2>

<h3>
   Contact Info
</h3>
<% unless @user.is_attending_campout_in_2015 %>
  <div class="label-input-pair">
    <label class="label">
      Company
    </label>
    <p>
      <% if @user.company.present? %>
        <%= @user.company %>
      <% else %>
        &hellip;
      <% end %>
    </p>
  </div>
<% end %>
<div class="label-input-pair">
  <label class="label">
    <% if @user.is_attending_campout_in_2015 %>
      Name
    <% else %>
      Company Contact
    <% end %>
  </label>
  <p>
    <% if @user.contact.present? %>
      <%= @user.contact %>
    <% else %>
      &hellip;
    <% end %>
  </p>
</div>
<% unless @user.is_attending_campout_in_2015 %>
  <div class="label-input-pair">
    <label class="label">
      Website URL
    </label>
    <p>
      <% if @user.company_url.present? %>
        <%= @user.company_url %>
      <% else %>
        &hellip;
      <% end %>
    </p>
  </div>
  <div class="label-input-pair">
    <label class="label">
      Phone Number
    </label>
    <p>
      <% if @user.phone_no.present? %>
        <%= @user.phone_no %>
      <% else %>
        &hellip;
      <% end %>
    </p>
  </div>
<% end %>
<% if @user.is_attending_campout_in_2015 %>
  <div class="label-input-pair">
    <label class="label">
      Attending Swift Campout
    </label>
    <p>
      Yes
    </p>
  </div>
<% end %>
<% if @user.camper.present? %>
  <div class="label-input-pair">
    <label class="label">
      Is this your first bike-overnight?
    </label>
    <p>
      <%= @user.camper.is_first_bike_overnight %>
    </p>
  </div>
  <div class="label-input-pair">
    <label class="label">
      Where are you heading on your Swift Campout, and how far is it to your destination?
    </label>
    <p>
      <%= @user.camper.campout_location_and_miles %>
    </p>
  </div>
  <div class="label-input-pair">
    <label class="label">
      Tell us about your favorite piece of gear
    </label>
    <p>
      <%= @user.camper.favorite_gear %>
    </p>
  </div>
  <div class="label-input-pair">
    <label class="label">
      Why do you love camping by bicycle?
    </label>
    <p>
      <%= @user.camper.why_do_you_love_bike_camping %>
    </p>
  </div>
  <div class="label-input-pair">
    <label class="label">
      Are you heading out with a posse? What’s your crew’s name?
    </label>
    <p>
      <%= @user.camper.is_group_camping %>
    </p>
  </div>
  <div class="label-input-pair">
    <label class="label">
      What kind of bike are you riding?
    </label>
    <p>
      <%= @user.camper.which_bike %>
    </p>
  </div>
  <div class="label-input-pair">
    <label class="label">
      What’s your go-to camp meal?
    </label>
    <p>
      <%= @user.camper.favorite_camp_meal %>
    </p>
  </div>
  <div class="label-input-pair">
    <label class="label">
      How did you hear about Swift Campout?
    </label>
    <p>
      <%= @user.camper.hear_about %>
    </p>
  </div>
<% end %>
<h3>
  Postal Address
</h3>
<div class="label-input-pair">
  <label class="label">
    Address
  </label>
  <p>
    <% if @user.line1.present? %>
      <%= @user.line1 %>
    <% else %>
      &hellip;
    <% end %>
    <br>
    <% if @user.city.present? %>
      <%= @user.city %>
    <% else %>
      &hellip;
    <% end %>
    <% if @user.state.present? %>
      <%= @user.state %>
    <% else %>
      &hellip;
    <% end %>
    <br>
    <% if @user.state.present? %>
      <%= @user.zip_code %>
    <% else %>
      &hellip;
    <% end %>
    <% if @user.state.present? %>
      <%= @user.country %>
    <% else %>
      &hellip;
    <% end %>
  </p>
</div>
