<%= form_for(@coupon) do |f| %>
  <% if @coupon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@coupon.errors.count, "error") %> prohibited this coupon from being saved:</h2>

      <ul>
      <% @coupon.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :published %>
    <%= f.check_box :published %>
  </div>
  <div class="field">
    <%= f.label :percent_off %>
    <%= f.number_field :percent_off, class: "input--dim" %>
  </div>
  <div class="field">
    <%= f.label :cents_off %>
    <%= f.number_field :cents_off, class: "input--dim" %>
  </div>
  <div class="field">
    <%= f.label :code %>
    <%= f.text_field :code %>
    <p class="hint">
      Must only contain letters, numbers, hyphens or underscores.
    </p>
  </div>
  <div class="field has-datetime-select">
    <%= f.label :start_date %>
    <%= f.datetime_select :start_date %>
  </div>
  <div class="field has-datetime-select">
    <%= f.label :end_date %>
    <%= f.datetime_select :end_date %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
