<h1>Listing coupons</h1>

<div class="responsive-table-container">
  <table class="table">
  <thead>
  <tr>
    <th>Active?</th>
    <th>Title</th>
    <th>Code</th>
    <th>Percent off</th>
    <th>Cents off</th>
    <th>Published</th>
    <th>Start date</th>
    <th>End date</th>
    <th>Sales</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</thead>
<tbody>
<% @coupons.each do |coupon| %>
  <tr>
    <td>
      <% if coupon.is_invalid? %>
        <span style="color:red; font-size: 120%;">
          ✗
        </span>
      <% else %>
        <span style="color:green; font-size: 120%;">
          ✓
        </span>
      <% end %>
    </td>
    <td><%= coupon.title %></td>
    <td style="font-family: monospace"><%= coupon.code %></td>
    <td><%= coupon.percent_off %></td>
    <td><%= coupon.cents_off %></td>
    <td><%= coupon.published %></td>
    <td><%= coupon.start_date.strftime("%b %e, %Y %l:%M %p ") %></td>
    <td><%= coupon.end_date.strftime("%b %e, %Y %l:%M %p ") %></td>
    <td>
      <% sales = Sale.where(coupon_code: coupon.code) %>
      <% if sales.present? %>
        <ul class="minimal-list">
          <% total_saved = 0 %>
          <% sales.each do |sale| %>
            <% if sale.saved_with_coupon %>
              <% total_saved = sale.saved_with_coupon + total_saved %>
            <% end %>
            <li class="minimal-list__item">
              <%= link_to sale.guid, sale %> (<%= number_to_currency(cents_to_dollars(sale.saved_with_coupon)) %>)
            </li>
          <% end %>
        </ul>
        <p>
          <b>Total saved:</b> <%= number_to_currency(cents_to_dollars(total_saved))%>
        </p>
      <% end %>
    </td>
    <td><%= link_to 'Show', coupon, class: 'btn btn--table' %></td>
    <td><%= link_to 'Edit', edit_coupon_path(coupon), class: 'btn btn--table' %></td>
    <td><%= link_to 'Destroy', coupon, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn--table' %></td>
  </tr>
<% end %>
</tbody>
</table>
</div>

<%= link_to 'New Coupon', new_coupon_path, class: "btn"%>
