<h1>Listing coupons</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Published</th>
    <th>Start date</th>
    <th>End date</th>
    <th>Percent off</th>
    <th>Cents off</th>
    <th>Code</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @coupons.each do |coupon| %>
  <tr>
    <td><%= coupon.title %></td>
    <td><%= coupon.description %></td>
    <td><%= coupon.published %></td>
    <td><%= coupon.start_date %></td>
    <td><%= coupon.end_date %></td>
    <td><%= coupon.percent_off %></td>
    <td><%= coupon.cents_off %></td>
    <td><%= coupon.code %></td>
    <td><%= link_to 'Show', coupon %></td>
    <td><%= link_to 'Edit', edit_coupon_path(coupon) %></td>
    <td><%= link_to 'Destroy', coupon, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Coupon', new_coupon_path %>
