<footer>
  <ul>
    <% @products.each do |product| %>
      <li>
        <%= link_to product.title, product %>
      </li>
    <% end %>
    <li>
      <%= link_to "Accessories", accessories_path %>
    </li>
    <li>
      <%= link_to "Our Story", Page.find_by_path('our_story') %>
    </li>
    <li>
      <%= link_to "blog", APP_CONFIG['personal_blog_url'] %>
    </li>
    <li>
      <%= mail_to @company.email, @company.email, :encode => "hex", :subject => "[via builtbyswift.com] " %>
    </li>
    <li>
      <span>
        <%= @company.phone %>
      </span>
    </li>
  </ul>
  <%= image_tag "fox.gif" %>
</footer>