<div id="global-menu" class="sixteen columns row menu--row-nav" style="display:none">
  <div class="clearfix row">
    <%= render "homes/products_nav" %>
  </div>
  <div class="clearfix row">
    <ul class="nav-list">
      <% if current_user.try(:wholesale?) %>
        <li class="nav-list--item <%= set_column_classes(Category.all.length) %>">
          <strong class="nav-list--group-heading">Your Account</strong>
          <ul class="nav-list--group">
            <li class="nav-list--group-item">
            <%= link_to "My Info", my_info_path(id: current_user), :class => "nav-list--group-item-link" %>
            </li>
            <li class="nav-list--group-item">
              <%= link_to "Order History", orders_path, :class => "nav-list--group-item-link" %>
            </li>
          </ul>
        </li>
      <% end %>
      <li class="nav-list--item <%= set_column_classes(Category.all.length) %>">
        <strong class="nav-list--group-heading">About Us</strong>
        <ul class="nav-list--group">
          <% Page.where(:include_in_about_us_navigation => true).each do |page| %>
            <li class="nav-list--group-item">
              <%= link_to page.title, page, :class => "nav-list--group-item-link" %>
            </li>
          <% end %>
          <li>
            <%= link_to "Cycle Swift Blog", APP_CONFIG[:personal_blog_url], :class => "nav-list--group-item-link" %>
          </li>
        </ul>
      </li>
      <li class="nav-list--item <%= set_column_classes(Category.all.length) %>">
        <% cache ["global_nav_company_contact", Company.first ] do %>
          <strong class="nav-list--group-heading">Get in Touch</strong>
          <ul class="nav-list--group">
            <li class="nav-list--group-item">
              <%= mail_to Company.first.email, Company.first.email, :encode => "hex", :subject => "[via builtbyswift.com] ", :class => "nav-list--group-item-link" %>
            </li>
            <li class="nav-list--group-item">
              <%= link_to Company.first.phone, Company.first.phone_link, :class => "nav-list--group-item-link" %>
            </li>
          </ul>
        <% end %>
      </li>
      <li class="nav-list--item <%= set_column_classes(Category.all.length) %>">
        <strong class="nav-list--group-heading">Be Social</strong>
        <ul class="nav-list--group nav-list--group-social nav-list--group-inline">
          <li class="nav-list--group-item">
            <%= link_to raw("&#62217;"), APP_CONFIG[:twitter_url], :class => "nav-list--group-item-link entypo-social", :title => "Follow us on Twitter" %>
          </li>
          <li class="nav-list--group-item">
            <%= link_to raw("&#62220;"), APP_CONFIG[:facebook_url], :class => "nav-list--group-item-link entypo-social", :title => "Like us on Facebook" %>
          </li>
          <li class="nav-list--group-item">
            <%= link_to raw("&#62253;"), APP_CONFIG[:instagram_url], :class => "nav-list--group-item-link entypo-social", :title => "Follow us on Instagram" %>
          </li>
          <li class="nav-list--group-item" style="display:none">
            <%= link_to raw("&#62211;"), APP_CONFIG[:flickr_group_url], :class => "nav-list--group-item-link entypo-social", :title => "View our Flickr Group" %>
          </li>
        </ul>
      </li>
      <li class="nav-list--item <%= set_column_classes(Category.all.length) %>">
        <strong class="nav-list--group-heading">Ready Made</strong>
        <ul class="nav-list--group">
          <li class="nav-list--group-item">
            <%= link_to "Our Ready Made store", store_path, :class => "nav-list--group-item-link" %>.
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
