<%= content_for :css do %>
  <!--[if IE]>
    <style>
      .timer { display: none !important; }
      div.caption { background:transparent; filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000);zoom: 1; }
    </style>
  <![endif]-->
<% end %>

<% unless @photos.empty? %>
  <div id="swift_slideshow_wrapper">
    <div id="swift_slideshow">
      <% @photos.each_key do |photo| %>
        <%
          if @photos[photo]['large_height'] == "640"
            width = "283px"
            height = "426px"
          else
            width = "640px"
            height = "426px"
          end

        %>
        <div
          style="
            background-image: url(<%= @photos[photo]['large'] -%>);
            background-size: <%= width -%> <%= height -%>;
            -moz-background-size: <%= width -%> <%= height -%>;
            -webkit-background-size: <%= width -%> <%= height -%>;"
          id="photo_<%= @photos[photo]['id'] -%>"
          data-text="<%= @photos[photo]['title'].empty? ? 'Untitled' : @photos[photo]['title'] %>"
          data-caption="#photo_caption_<%= @photos[photo]['id'] -%>"
        </div>
        <span class="orbit-caption" id="photo_caption_<%= @photos[photo]['id'] -%>">
          <b>
            <%= @photos[photo]['title'].empty? ? 'Untitled' : @photos[photo]['title'] -%>
          </b>
          <%= raw @photos[photo]['description'] -%>
          <a href="<%= @photos[photo]['flickr_url'] -%>">
            View on Flickr
          </a>
        </span>
      <% end -%>
    </div>
  </div>
  <br class="clear">
<% else %>
  <img src="http://placehold.it/420x300">
<% end %>

<%= content_for :js do %>
  <script>
    $(window).load(function() {
      $('#swift_slideshow').orbit({
        bullets: true,
        bulletText: true,
        timer: false,
        directionalNav: false,
        captions: true
      });
    });
  </script>
<% end %>
