<% unless @photos.blank? %>
    <div class="slideshow-wrapper">
        <% @photos.each do |(photo,key)| %>
            <div class="slideshow-item" style="display:none">
                <div class="slideshow-photo-wrapper">
                    <img class="slideshow-photo"
                        id="photo<%= @photos[photo]['id'] %>"
                        data-text="<%= @photos[photo]['title'].blank? ? 'Untitled' : @photos[photo]['title'] %>"
                        data-caption="#photo_caption_<%= @photos[photo]['id'] %>"
                        src="<%= @photos[photo]['url'] %>"
                        data-large="<%= @photos[photo]['large_url'] %>">
                    <div class="slideshow-nav">
                        <div class="slideshow-nav-item slideshow-nav--next" data-dir="next">
                            &raquo;
                        </div>
                        <div class="slideshow-nav-item slideshow-nav--previous" data-dir="previous">
                            &laquo;
                        </div>
                    </div>
                </div>
                <div class="slideshow-info" id="desc<%= @photos[photo]['id'] -%>">
                    <p>
                        <%= @photos[photo]['title'].blank? ? 'Untitled' : @photos[photo]['title'] %>
                        <a class="slideshow-info--flickr-link" href="<%= @photos[photo]['flickr_url'] %>">
                            (View on Flickr)
                        </a>
                    </p>
                    <div class="slideshow-info--desc">
                        <%= raw @photos[photo]['description'] %>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
<% else %>
    <!-- No Photos -->
<% end %>

<%= content_for :js do %>
  <script>
    $(document).ready(function() {
        $('.slideshow-wrapper').slideshow();
    });
  </script>
<% end %>
