<% unless @photos.empty? %>
  <div id="featured">
    <% @photos.each_key do |photo| -%>
      <img
        id="photo_<%= @photos[photo]['id'] -%>"
        src="<%= @photos[photo]['large'] -%>"
        data-text="<%= @photos[photo]['title'].empty? ? 'Untitled' : @photos[photo]['title'] %>"
        data-caption="#photo_caption_<%= @photos[photo]['id'] -%>"
        width="<%= @photos[photo]['large_width'] -%>"
        height="<%= @photos[photo]['large_height'] -%>">
      <span class="orbit-caption" id="photo_caption_<%= @photos[photo]['id'] -%>">
        <b>
          <%= @photos[photo]['title'].empty? ? 'Untitled' : @photos[photo]['title'] -%>
        </b>
        <%= @photos[photo]['description'] -%>
        <a href="<%= @photos[photo]['flickr_url'] -%>">
          View on Flickr
        </a>
      </span>
    <% end -%>
  </div>
<% else %>
  <p>
    Photos are not available. :(
  </p>
<% end %>

<%= content_for :js do %>
  <script>
    $(window).load(function() {
      $('#featured').orbit({
        bullets: true,
        bulletText: true,
        timer: false,
        directionalNav: false,
        captions: true
      });
    });
  </script>
<% end %>
