<%= content_for :css do %>
  <style>
  .l-container--logo {
    display: none;
  }
  .l-container--fluid {
    box-shadow: none;
    width: auto;
    margin: 0;
    border-top: none;
    border-right: none;
    border-left: none;
  }
  .l-container--footer {
    margin-top: 50px;
  }
  .l-container--main {
    padding: 0;
  }
  .page_solstice_index .l-container--fluid {
    max-width: none;
  }
  </style>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
<% end %>
<div ng-controller="SolsticeCtrl" class="S-ctrl">
  <div class="S-heading">
    <div class="row row--no-margin">
      <div class="col-xs-12">
        <div class="S-logo"></div>
        <ul class="S-nav">
          <li class="S-nav__item">
            <a class="S-nav__link" href="#about" target="_self" scroll-on-click>
              About
            </a>
          </li>
          <% if !user_signed_in? || current_user.is_not_camper? %>
            <li class="S-nav__item">
              <a class="S-nav__link" href="#signup" target="_self" scroll-on-click>
                Sign Up
              </a>
            </li>
          <% end %>
          <li class="S-nav__item">
            <a class="S-nav__link" href="#map" target="_self" scroll-on-click>
              Map
            </a>
          </li>
          <li class="S-nav__item">
            <a class="S-nav__link" href="#social" target="_self" scroll-on-click>
              Social
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="S-Grid S-Grid--intro" id="about">
    <div class="row row--no-margin top-sm">
      <div class="col-xs-12 col-sm-6 around-sm">
        <%= render partial: 'intro_text' %>

      </div>
      <div class="col-xs-12 col-sm-3 first-sm around-sm">
        <%= render partial: 'prizes' %>
      </div>
      <div class="col-xs-12 col-sm-3 last-sm around-sm">
        <%= render partial: 'recommended_gear' %>
      </div>
    </div>
  </div>
  <%#
  <div class="S-Grid S-Grid--post-intro">
    <div class="row row--no-margin">
      <div class="col-xs-12">
        render partial: 'post_intro'
      </div>
    </div>
  </div>
  %>
  <div class="S-Grid S-Grid--map" id="map">
    <div class="row row--no-margin">
      <div class="col-xs-12">
        <%= render partial: 'map' %>
      </div>
    </div>
  </div>
  <div class="S-Grid S-Grid--social" id="social">
    <div class="row row--no-margin">
      <div class="col-xs-12">
        <p class="S-p S-p--heading" style="max-width:none">
          Tag your tweets and instagram photos and videos with #swiftcampout.
        </p>
      </div>
      <div class="col-xs-12 col-sm-6">
        <sw-twitter tag="swiftcampout"></sw-twitter>
      </div>
      <div class="col-xs-12 col-sm-6">
        <sw-instagram tag="swiftcampout"></sw-instagram>
      </div>
    </div>
  </div>
  <% if !user_signed_in? || current_user.is_not_camper? %>
    <div class="S-grid S-grid--signup2">
      <div class="row row--no-margin">
        <div class="col-xs-12">
          <div class="Solistice-signup-btn-wrap">
            <% if !user_signed_in? %>
              <%= link_to "Sign Up", new_user_registration_path(swiftcampout: "1"), class: "Solistice-signup-btn" %>
            <% else %>
              <%= link_to "Sign Up", edit_user_registration_path, class: "Solistice-signup-btn" %>
            <% end %>
          </div>
          <p class="S-p S-p--disclaimer">
            Swift Industries is here to inspire your wandering ways, but we are in no way liable for safety or mishaps related to the Swift Campout. By creating a Swift Campout account you are taking full responsibility to travel safely and you are acknowledging the personal risks of traveling by bicycle.
          </p>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= render 'twitter' %>
<%= render 'instagram' %>
<%= render 'flickr' %>
<%= render 'submit_journals' %>
<%= render 'submit_films' %>
