<%= content_for :css do %>
  <style>
  .l-container--logo {
    display: none;
  }
  .l-container--fluid {
    box-shadow: none;
    width: auto;
    margin: 0;
    border-top: none;
    border-right: none;
    border-left: none;
  }
  .l-container--footer {
    margin-top: 50px;
  }
  .l-container--main {
    padding: 0;
  }
  .page_solstice_index .l-container--fluid {
    max-width: none;
  }
  </style>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
<% end %>
<div ng-controller="SolsticeCtrl" class="S-ctrl">
  <div class="S-heading">
    <div class="row">
      <div class="col-xs-12">
        <div class="S-logo"></div>
        <ul class="S-nav">
          <li class="S-nav__item">
            <a class="S-nav__link" href="#about" target="_self" scroll-on-click>
              About
            </a>
          </li>
          <% if !user_signed_in? || current_user.is_not_camper? %>
            <li class="S-nav__item">
              <a class="S-nav__link" href="#signup" target="_self" scroll-on-click>
                Sign Up
              </a>
            </li>
          <% end %>
          <li class="S-nav__item">
            <a class="S-nav__link" href="#map" target="_self" scroll-on-click>
              Map
            </a>
          </li>
          <li class="S-nav__item">
            <a class="S-nav__link" href="#social" target="_self" scroll-on-click>
              Social
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="S-Grid S-Grid--intro" id="about">
    <div class="row top-sm">
      <div class="col-xs-12 col-sm-4 around-sm">
        <%= render partial: 'intro_text' %>
      </div>
      <div class="col-xs-12 col-sm-4 first-sm around-sm">
        <%= render partial: 'prizes' %>
      </div>
      <div class="col-xs-12 col-sm-4 last-sm around-sm">
        <%= render partial: 'recommended_gear' %>
      </div>
    </div>
  </div>
  <div class="S-Grid S-Grid--post-intro">
    <div class="row">
      <div class="col-xs-12">
        <%= render partial: 'post_intro' %>
      </div>
    </div>
  </div>
  <div class="S-Grid S-Grid--map" id="map">
    <div class="row">
      <div class="col-xs-12">
        <%= render partial: 'map' %>
      </div>
    </div>
  </div>
  <div class="S-Grid S-Grid--social" id="social">
    <div class="row">
      <div class="col-xs-12">
        <p class="S-p S-p--heading" style="max-width:none">
          Tag your tweets and instagram photos and videos with #swiftcampout.
        </p>
      </div>
      <div class="col-xs-12 col-sm-6">
        <sw-twitter tag="swiftcampout"></sw-twitter>
      </div>
      <div class="col-xs-12 col-sm-6">
        <sw-instagram tag="swiftcampout"></sw-instagram>
      </div>
    </div>
  </div>
</div>

<%= render 'twitter' %>
<%= render 'instagram' %>
<%= render 'flickr' %>
<%= render 'submit_journals' %>
<%= render 'submit_films' %>
