<%= form_for(@page) do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% @page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="field row">
    <label for="page_hide_title_on_homepage">
      <%= f.check_box :hide_title_on_homepage %>
      Hide title on homepage?
    </label>
  </div>
  <div class="field">
    <%= f.label :path %>
    <%= f.text_field :path %>
    <p class="hint">
      The URL the page can be accessed at, e.g. <code>https://www.builtbyswift.com/dukes_of_hazzard</code>.
    </p>
  </div>
  <div class="field">
    <%= f.label :summary %>
    <%= f.text_area :summary %>
  </div>
  <div class="field">
    <%= f.label :body %>
    <%= f.text_area :body %>
    <%= render 'shared/markdown_hint' %>
  </div>
  <div class="field">
    <%= f.label :video_html %>
    <%= f.text_area :video_html %>
    <p class="hint">
      Get the embed html from the video site. Here's an <a href="http://d.pr/d1dh">example</a>. The size should be `width: 460 height: 369`.
    </p>
  </div>
  <div class="field row">
    <label for="page_show_video_on_homepage">
      <%= f.check_box :show_video_on_homepage %>
      Show video on homepage?
    </label>
  </div>
  <div id="js-flickr">
    <div class="field">
      <%= f.label :flickr_tag %>
      <%= f.text_field :flickr_tag, :'v-model' => "flickrTag" %>
      <p class="hint">
        Enter a flickr tag to display a photo gallery. Leave blank for none.
        <a target="_new" v-show="flickrTag" href="//flickr.com/photos/<%= APP_CONFIG[:flickr_user_id] %>/tags/{{ flickrTag }}">
          View tag photos</a>.
      </p>
    </div>
    <div class="field">
      <%= f.label :flickr_photo %>
      <%= f.text_field :flickr_photo, :'v-model' => "flickrPhoto"%>
      <p class="hint">
        Enter a flickr id [<a href="http://d.pr/Q7xE" target="_new">?</a>] to display a photo on the homepage. Leave blank for none.
        <a target="_new" v-show="flickrPhoto" href="//flickr.com/photos/<%= APP_CONFIG[:flickr_user_id] %>/{{ flickrPhoto }}">
          View photo</a>.
      </p>
    </div>
  </div>
  <div class="field row">
    <label for="page_show_photo_on_homepage">
      <%= f.check_box :show_photo_on_homepage %>
      Show photo on homepage?
    </label>
  </div>
  <div class="field">
    <%= f.label :featured %>
    <%= f.select :featured, options_for_select(["Nope", "Featured"], :selected => @page.featured) %>
    <p class="hint">
      Should this appear on the homepage?
    </p>
  </div>
  <div class="field row">
    <label for="page_hide_read_more_link_on_homepage">
      <%= f.check_box :hide_read_more_link_on_homepage %>
      Hide "read more" link on homepage?
    </label>
    <p class="hint hint--for-checkbox">
      If this page is featured on the homepage, should the "read more" link be hidden?
    </p>
  </div>
  <div class="field row">
    <label for="page_include_in_about_us_navigation">
      <%= f.check_box :include_in_about_us_navigation %>
      Show this page in "About Us" section of navigation?
    </label>
  </div>
  <div class="field">
    <%= f.label :status %>
    <%= f.select :status, options_for_select(["Private", "Public"], :selected => @page.status) %>
    <p class="hint">
      Setting a page as private does not prevent a stranger from directly typing in the URL and finding it. It does, however, prevent it from being linked to from any pages on the site.
    </p>
  </div>
  <div class="actions">
    <%= f.submit nil, class: "btn" %>
  </div>
<% end %>

<%= content_for :js do %>
    <script>
        new Vue({ el: '#js-flickr' });
    </script>
<% end %>
