<%= form_for(@page) do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% @page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :path %><br />
    <%= f.text_field :path %><br />
    <p class="hint">
      The URL the page can be accessed at, e.g. <code>http://builtbyswift.com/dukes_of_hazzard</code>.
    </p>
  </div>
  <div class="field">
    <%= f.label :summary %><br />
    <%= f.text_area :summary %>
    <%= render "shared/markdown_hint", :also => "This text will appear on the homepage if the page is featured." %>
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body %>
    <%= render "shared/markdown_hint" %>
  </div>
  <div class="field">
    <%= f.label :video_html %><br />
    <%= f.text_area :video_html %>
    <p class="hint">
      Get the embed html from the video site. Here's an <a href="http://d.pr/d1dh">example</a>. The size should be `width: 460 height: 369`.
    </p>
  </div>
  <div class="field">
    <%= f.label :flickr_tag %><br />
    <%= f.text_field :flickr_tag %>
    <p class="hint">
      Enter a flickr tag to display a photo gallery. Leave blank for none.
    </p>
  </div>
  <div class="field">
    <%= f.label :featured %><br />
    <%= f.select :featured, options_for_select(["Nope", "Featured"], :selected => @page.featured) %>
    <p class="hint">
      Should this appear on the front page? Only one page will be displayed so don't mark two as featured!
    </p>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.select :status, options_for_select(["Private", "Public"], :selected => @page.status) %>
    <p class="hint">
        The page will 404 if you set it as private. For now that means you can't preview it.
    </p>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
