<%= form_for(@page) do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% @page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :path %>
    <%= f.text_field :path %>
    <p class="hint">
      The URL the page can be accessed at, e.g. <code>http://builtbyswift.com/dukes_of_hazzard</code>.
    </p>
  </div>
  <div class="field">
    <%= f.label :body %>
    <%= f.text_area :body %>
    <%= render :partial => 'shared/markdown_hint' %>
  </div>
  <div class="field">
    <%= f.label :video_html %>
    <%= f.text_area :video_html %>
    <p class="hint">
      Get the embed html from the video site. Here's an <a href="http://d.pr/d1dh">example</a>. The size should be `width: 460 height: 369`.
    </p>
  </div>
  <div class="field">
    <%= f.label :flickr_tag %>
    <%= f.text_field :flickr_tag %>
    <p class="hint">
      Enter a flickr tag to display a photo gallery. Leave blank for none.
    </p>
  </div>
  <div class="field">
    <%= f.label :featured %>
    <%= f.select :featured, options_for_select(["Nope", "Featured"], :selected => @page.featured) %>
    <p class="hint">
      Should this appear on the front page? Only one page will be displayed so don't mark two as featured!
    </p>
  </div>
  <div class="field">
    <%= f.label :status %>
    <%= f.select :status, options_for_select(["Private", "Public"], :selected => @page.status) %>
    <p class="hint">
      Setting a page as private does not prevent a stranger from directly typing in the URL and finding it. It does, however, prevent it from being linked to from any pages on the site.
    </p>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
