<h1>
  <%= @subtitle %>
</h1>
<p>
  <%= link_to raw('&larr; Hub'), hub_path, class: "btn" %>
  <%= link_to 'New Page', new_page_path, class: "btn" %>
</p>
<div class="tabs">
  <div class="tab">
    Public
  </div>
  <div class="tab">
    Private
  </div>
  <div class="tab-divider"></div>
  <div class="card">
    <%= render 'pages_table', pages: @public_pages %>
  </div>
  <div class="card">
    <%= render 'pages_table', pages: @private_pages %>
  </div>
</div>

<%= content_for :js do %>
<script>
  $(document).ready(function(){
    $('.tabs').tabs();
  });
</script>
<% end %>
