<% unless @page.public? %>
    <p id="private_notice">
        private!
    </p>
<% end %>

<div class="sixteen columns left_col">
    <h2>
        <%= @page.title %>
    </h2>
    <div class="tabs">
        <div class="tab">
            Photos
        </div>
        <div class="tab">
            Video
        </div>
        <div class="card">
            <%= render 'shared/slideshow' %>
        </div>
        <div class="card">
            <% if @page.video_html.present? %>
                <%= raw @page.video_html %>
            <% end %>
        </div>
    </div>

    <article class="article">
        <%= raw md @page.body %>
    </article>
</div>
<br class="clear">


<%= content_for :js do %>
    <script>
        $(document).ready(function(){
            $("#box").fitVids();

            $('.tabs').tabs();
        });


    </script>
<% end %>

