<% unless @page.public? %>
    <p id="private_notice">
        private!
    </p>
<% end %>

<%= render "shared/checkout" %>

<div class="eight columns left_col">
    <%= render 'shared/slideshow' %>
    <article class="article">
        <h2>
            <%= @page.title %>
        </h2>
        <%= raw md @page.body %>
    </article>
</div>
<div class="eight columns right_col">
    <% if @page.video_html.present? %>
        <%= raw @page.video_html %>
    <% end %>
    <%= render 'shared/right_col_footer_nav' %>
</div>
<br class="clear">

<%= content_for :js do %>
    <script>
        $(document).ready(function(){
            $("#box").fitVids();
        });
    </script>
<% end %>
