<% unless @page.public? %>
    <p id="private_notice">
        private!
    </p>
<% end %>

<div class="sixteen columns left_col">
    <h2>
        <%= @page.title %>
    </h2>
    <% if @photos.present? && @video_html.present? %>
        <div class="tabs">
            <div class="tab">
                Photos
            </div>
            <div class="tab">
                Video
            </div>
            <div class="card">
                <%= render 'shared/slideshow' %>
            </div>
            <div class="card video-wrapper">
                <div class="video-wrapper-sizer">
                    <%= raw @video_html %>
                </div>
            </div>
        </div>
    <% elsif @photos.present? %>
        <%= render 'shared/slideshow' %>
    <% elsif @video_html.present? %>
        <div class="video-wrapper">
            <div class="video-wrapper-sizer">
                <%= raw @video_html %>
            </div>
        </div>
    <% end %>
    <article class="article">
        <%= raw md @page.body %>
    </article>
</div>
<br class="clear">


<%= content_for :js do %>
    <script>
        $(document).ready(function(){
            $('.video-wrapper').fitVids();
            $('.tabs').tabs();
        });
    </script>
<% end %>

