<h1>Contacts</h1>
<p>
  These kiddos signed up for marketing emails.
</p>
<p>
  <%= link_to raw('&larr; Hub'), hub_path, class: "btn" %>
  <%= link_to 'New Contact', new_contact_path, class: "btn" %>
</p>

<table class="table" style="width: auto">
  <tr>
    <td>
      <button class="btn btn--table" id="all">
        Select All
      </button>
    </td>
    <td>
      <button class="btn btn--table" id="none">
        Select None
      </button>
    </td>
    <td>
      <button class="btn btn--table" id="archive">
        Archive
      </button>
    </td>
    <td>
      <%= link_to 'Copy New Contacts', copy_contacts_path, class: 'btn btn--table' %>
    </td>
  </tr>
</table>

<div class="responsive-table-container">
<table class="table">
  <thead>
  <tr>
    <th>Email</th>
    <th></th>
    <th></th>
    <th style="display:none"></th>
  </tr>
</thead>
<tbody>
  <% @contacts.each do |contact| %>
    <tr>
      <td class="is-archived--<%= contact.archived %>">
        <input type="checkbox" name="archive" class="cbox no-select" value="<%= contact.id %>" data-email="<%= contact.email %>">
        <%= contact.email %>
      </td>
      <td class="no-select"><%= link_to 'Edit', edit_contact_path(contact), class: "btn btn--table" %></td>
      <td style="display:none"><%= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>
</div>

<%= content_for :js do %>
<script>
  var $cboxes = $('.cbox')

  $('#all').click(function() {
    $cboxes.prop('checked', true)
  })

  $('#none').click(function() {
    $cboxes.prop('checked', false)
  })

  $('#showCopy').click(function() {
    $('#copy').show()
  })

  $('#archive').click(function() {
    $cboxes.each(function() {
      var cbox = this;

      if ($(cbox).prop('checked') && $(cbox).parent('td').hasClass('is-archived--false')) {
        $.ajax({
          url: '/contacts/' + cbox.value + '.json',
          type: 'PUT',
          dataType: 'json',
          data: {
            "contact[id]": cbox.value,
            "contact[archived]": true,
            "contact[email]": $(cbox).data('email')
          },
          success: function(data) {
            $(cbox)
              .prop('checked', false)
              .parent('td')
              .addClass('is-archived--true')
          },
          error: function(error) {
            alert('Error: ' + error);
          }
        })
      }
    })
  })
</script>
<% end %>
