<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @company.title %>
</p>

<p>
  <b>Email:</b>
  <%= @company.email %>
</p>

<p>
  <b>Phone:</b>
  <%= @company.phone %>
</p>

<p>
  <b>Address:</b>
  <%= @company.address %>
</p>

<p>
  <b>Description:</b>
  <%= @company.description %>
</p>

<p>
  <b>Delivery time:</b>
  <%= @company.delivery_time %>
</p>

<p>
  <b>Front door sign:</b>
  <%= @company.front_door_sign %>
</p>

<p>
  <%= link_to 'Edit', edit_company_path(@company) %> |
  <%= link_to 'Back', companies_path %>
</p>
