<% endcap = (index + 1).modulo(3) == 0 ? true : false %>
<div class="one-third column store-item">
  <% photo_url = Product.get_photo_by_id(item.flickr_photo, "Small") %>

  <% if photo_url.present? %>
    <% if index < 3 %>
      <%= link_to(image_tag(photo_url, class: "store-item--image"), item) %>
    <% else %>
      <%= link_to(image_tag("store-preload.png", data: { src: photo_url }, class: "store-item--image store-item--image-lazyload"), item) %>
    <% end %>
  <% else %>
    <%= link_to("Image not found", item) %>
  <% end %>
  <h3 class="store-item--heading">
    <%= link_to item.title, item, class: "store-item--heading-link" %> (<%= item.humane_price_for(current_user) %>)
  </h3>
</div>
<% if endcap %>
  <br class=clear>
<% end %>
