<div class="grid_24 alpha omega">
    <% @accessories.each do |accessory| %>
        <div class="grid_8">
            <div class="content_wrapper">
                <div class="content">
                    <% photo_url = Product.get_photo_by_id(accessory.flickr_photo, "Small") %>
                    <img src="<%= photo_url %>">
                    <h2>
                        <%= link_to accessory.title, accessory %>
                    </h2>
                    <div class="grid_1">
                        <h3 class="humane_price">
                            <%= accessory.humane_price %>
                        </h3>
                    </div>
                    <div class="grid_3 prefix_1">
                        <p class="read_more">
                            <%= link_to "read more ->", accessory %>
                        </p>
                    </div>
                    <div class="grid_2">
                        <h3 class="buy">
                            <%= link_to "BUY", order_product_path(accessory) %>
                        </h3>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    <% end %>
    <div class="clear"></div>
    <div class="grid_4 prefix_20 alpha omega">
        <%= link_to "Back to Bags", root_path, :id => "bike_btn" %>
    </div>
    <div class="clear"></div>
    <div class="grid_6 prefix_18 alpha omega">
        <%= image_tag "small-logo.png", :id => "logo" %>
    </div>
    <div class="clear"></div>
</div>
<div class="clear"></div>

<%= content_for :js do %>
    <script>
        $(document).ready(function() {
            $('.grid_8').first().addClass('alpha')
            $('.grid_8:nth-child(3n+1)').addClass('omega').append("<div class='clear'></div>");
        })
    </script>
<% end %>