<div class="row">
    <div id="hero" class="sixteen columns hero">
        <div id="hero-scroll">
            <% @photos.each do |photo| %>
                <img src=<%= photo[:url] %> class="hero-img">
            <% end %>
        </div>
		<div class="hero-text">
			<h4 class="hero-heading">
				Ozette Randonneuring Bag
			</h4>
			<p class="hero-para">
				The Ozette Randonneuring Bag is inspired by the timeless front box design, and touts Swift Industries’ signature in the details. Our bag is completely vinyl-lined because we know that rain shouldn’t stop you. Keep charts and your cue sheet visible in the top map-case, and pack food and rain gear directly within arm’s reach. Discovered a coffee shop or brewery along the way? Easily slip the Ozette from the decaleur and rack and bring it inside. When you’re planning an Sub-24 hour overnight (S240), go the extra mile with a matching Trunk Saddle Bag. (<a href="/products/5">read more</a>).
			</p>
		</div>
    </div>
</div>
<div class="row">
    <%= render "products_nav" %>
</div>
<div class="row">
    <div class="sixteen columns">
        <p>
            Also take a look at our <%= link_to "Ready Made", store_path, :class => "hl-link" %> store.
        </p>
    </div>
</div>
<div class="row">
    <div class="eight columns">
        <article class="featured-page">
            <h3>
                <%= @featured_page.title %>
            </h3>
            <p>
                <%= truncate(@featured_page.body, :length => 865) %>
            </p>
            <p>
                <%= link_to raw("read more &rarr;"), @featured_page, :class => "hl-link" %>
            </p>
        </article>
    </div>
    <div class="eight columns">
        <article class="blog">
            <h3>
                <%= @blog['title'] %>
            </h3>
            <p>
                <%= image_tag @blog['img'], :class => "blog_img" %>
                <%= raw @blog['description'] %>
            </p>
            <p>
                <%= link_to raw("read more at the cycle swift blog &rarr;"), @blog['link'], :class => "hl-link" %>
            </p>
        </article>
    </div>
</div>

<% content_for :js do %>
	<script>
		$('#hero').hero();
	</script>
<% end %>