<%= render :partial => 'shared/checkout' %>
<div class="grid_11">
    <header>
        <h1 id="page_title" class="logo">
            <%= @title %>
        </h1>
    </header>
    <div class="descriptions">
        <% @products.each do |product| %>
            <div class="description" id="description<%= product.id %>">
                <div class="content">
                    <h2>
                        <%= product.title %>
                    </h2>
                    <%= raw md truncate(product.description, :length => 320) %>
                    <table class="goto">
                        <tr>
                            <td class="col1">
                                <%= link_to "read more", product %>
                            </td>
                            <td class="col1">
                                <%= link_to "design your bags", order_product_path(product) %>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        <% end %>
    </div>
</div>
<div class="grid_13 omega photos">
    <% @products.each do |product| %>
        <% photo_url = Product.get_photo_by_id(product.flickr_photo, "Medium") %>
        <div class="photo" id="photo<%= product.id %>">
            <img src="<%= photo_url %>" width="510">
        </div>
    <% end %>
</div>
<div class="clear"></div>
<div class="grid_24">
    <nav>
        <% @products.each do |product| %>
            <div class="grid_3 alpha omega">
                <%= link_to product.short_title, product_path(product), 'data-photo' => "#photo#{product.id}", 'data-description' => "#description#{product.id}", :class => 'toggle eql_col' %>
            </div>
        <% end %>
        <div class="grid_2 alpha omega">
            <%= link_to "Accessories", accessories_path, :class => "eql_col last" %>
        </div>
        <div class="clear"></div>
    </nav>
</div>
<div class="clear"></div>
<div class="grid_12 suffix_1 eql_col2">
    <article>
        <h3>
            <%= @featured_page.title %>
        </h3>
        <p>
            <%= truncate(@featured_page.body, :length => 865) %>
        </p>
        <p>
            <%= link_to "read more ->", @featured_page %>
        </p>
    </article>
</div>
<div class="grid_11 omega eql_col2">
    <article>
        <h3>
            <%= @blog['title'] %>
        </h3>
        <p>
            <%= image_tag @blog['img'], :class => "blog_img" %>
            <%= raw @blog['description'] %>
        </p>
        <p>
            <%= link_to "read more at the cycle swift blog ->", @blog['link'] %>
        </p>
    </article>
</div>
<div class="clear"></div>

<%= content_for :js do %>
    <script>
        $(document).ready(function() {
            // layout
            $('.eql_col').equalHeights()
            $('.eql_col2').equalHeights()
            $('.description').equalHeights()

            function reset() {
                $('.photo').hide()
                $('.description').hide()
                $('nav a').removeClass('active')
            }
            function init() {
                reset()
                $('.toggle').first().addClass('active')
                $('.photo').first().show()
                $('.description').first().show()
            }

            $('nav a.toggle').click(function(e){
                reset()
                $(this).addClass('active')
                var photo = $(this).attr('data-photo');
                var description = $(this).attr('data-description');
                $(description).show()
                $(photo).fadeIn(999)
                e.preventDefault()
            })

            init()
        })
    </script>
<% end %>
