<%= content_for :css do %>
  <style>
    #featured img,
    #featured div { display: none; }
  </style>
  <!--[if IE]>
    <style>
      .timer { display: none !important; }
      div.caption { background:transparent; filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000);zoom: 1; }
    </style>
  <![endif]-->
<% end %>

<h1 id="page_title" class="logo">
  <%= @title %>
</h1>

<div id="featured">
    <img src="images/tmp/DSCN4034.jpg" width="800" height="600" alt="DSCN4034" data-caption="#orb_cap_1" data-text="name 1">
    <img src="images/tmp/DSCN4173.jpg" width="800" height="600" alt="DSCN4173" data-caption="#orb_cap_2" data-text="name 2">
    <img src="images/tmp/DSCN4257.jpg" width="800" height="600" alt="DSCN4257" data-caption="#orb_cap_3" data-text="name 3">
</div>
<span class="orbit-caption" id="orb_cap_1">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed.</span>
<span class="orbit-caption" id="orb_cap_2">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span>
<span class="orbit-caption" id="orb_cap_3">Duis aute irure dolor in reprehenderit in voluptate in culpa qui officia deserunt mollit anim id est laborum.</span>

<ul>
  <% @products.each do |product| %>
    <li>
      <%= link_to product.title, product %>
    </li>
  <% end %>
</ul>

<div id="featured_page">
  <h3>
    <%= @featured_page.title %>
  </h3>
  <article>
    <p>
      <%= truncate(@featured_page.body, :length => 255) %>
    </p>
  </article>
  <p>
    <%= link_to "read more ->", @featured_page %>
  </p>
</div>

<%= content_for :footer do %>
  <%= render :partial => 'shared/footer' %>
<% end %>

<%= content_for :js do %>
  <script>
    $(window).load(function() {
      $('#featured').orbit({
        bullets: true,
        bulletText: true,
        timer: false,
        directionalNav: false,
        captions: true
      });
    });
  </script>
<% end %>
