<%= render 'shared/checkout' %>
<div class="grid_11">
    <header>
        <h1 id="page_title" class="logo">
            <%= @title %>
        </h1>
    </header>
    <div id="descriptions" class="descriptions">
        <% @products.each_with_index do |product,idx| %>
		<div class="description description_<%= idx %>" id="description<%= product.id %>" <%= "style='display:none'" unless idx == 0 %>>
                <div class="content">
                    <h2>
                        <%= product.title %>
                    </h2>
                    <%= raw md truncate(product.description, :length => 320) %>
                    <table class="goto">
                        <tr>
                            <td class="col1">
                                <%= link_to "read more", product %>
                            </td>
                            <td class="col1">
                                <%= link_to "design your bags", order_product_path(product) %>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        <% end %>
    </div>
</div>
<div id="photos" class="grid_13 omega photos">
    <% @products.each_with_index do |product,idx| %>
        <% photo_url = Product.get_photo_by_id(product.flickr_photo, "Medium") %>
        <div class="photo photo_<%= idx %>" id="photo<%= product.id %>" <%= "style='display:none'" unless idx == 0 %>>
            <img src="<%= photo_url %>" width="510">
        </div>
    <% end %>
</div>
<div class="clear"></div>
<div class="grid_24">
    <nav id="nav">
        <% @products.each do |product| %>
            <div class="grid_3 alpha omega">
                <%= link_to product.short_title, product_path(product), 'data-photo' => "#photo#{product.id}", 'data-description' => "#description#{product.id}", :class => 'toggle eql_col' %>
            </div>
        <% end %>
        <div class="grid_2 alpha omega">
            <%= link_to "Accessories", accessories_path, :class => "eql_col last" %>
        </div>
        <div class="clear"></div>
    </nav>
</div>
<div class="clear"></div>
<div class="grid_12 suffix_1 eql_col2 row_2">
    <article>
        <h3>
            <%= @featured_page.title %>
        </h3>
        <p>
            <%= truncate(@featured_page.body, :length => 865) %>
        </p>
        <p>
            <%= link_to "read more ->", @featured_page %>
        </p>
    </article>
</div>
<div class="grid_11 omega eql_col2 row_2">
    <article>
        <h3>
            <%= @blog['title'] %>
        </h3>
        <p>
            <%= image_tag @blog['img'], :class => "blog_img" %>
            <%= raw @blog['description'] %>
        </p>
        <p>
            <%= link_to "read more at the cycle swift blog ->", @blog['link'] %>
        </p>
    </article>
</div>
<div class="clear"></div>

<%= content_for :js do %>
    <script>
        $(document).ready(function() {
			var $descs = $('#descriptions');
			var $photos = $('#photos');
			var $nav = $('#nav');

            // layout
            $('.eql_col').equalHeights();
            $('.eql_col2').equalHeights();
            $descs.find('.description').equalHeights();

            function reset() {
				$photos.find('.photo').hide();
				$descs.find('.description').hide();
                $nav.find('.toggle').removeClass('active');
            }
            function init() {
                reset();
				$photos.find('.photo_0').show()
				$descs.find('.description_0').show();
                $nav.find('.toggle').first().addClass('active');
            }

            $nav.on('click', '.toggle', function(e) {
                var photo = $(this).data('photo');
                var description = $(this).data('description');

                reset();
                $(this).addClass('active');
                $(description).show();
                $(photo).show();
                e.preventDefault();
            })

            init();
        })
    </script>
<% end %>
