
<div id="swift_slideshow_wrapper">
  <nav>
    <div id="swift_slideshow">
      <% @products.each do |product| %>
        <img src="images/tmp/DSCN4034.jpg" data-caption="#orb_cap_<%= product.id %>" data-text="<%= product.title %>">
      <% end %>
    </div>
  </nav>

  <% @products.each do |product| %>
    <span class="orbit-caption" id="orb_cap_<%= product.id %>">
      <%= product.description %>
      <%= link_to "read more ->", product %>
    </span>
  <% end %>
</div>
<br class="clear">

<div id="featured_page">
  <h3>
    <%= @featured_page.title %>
  </h3>
  <article>
    <p>
      <%= truncate(@featured_page.body, :length => 255) %>
    </p>
  </article>
  <p>
    <%= link_to "read more ->", @featured_page %>
  </p>
</div>
<br class="clear">

<%= content_for :js do %>
  <script>
    $(window).load(function() {
      $('#swift_slideshow').orbit({
        bullets: true,
        bulletText: true,
        timer: false,
        directionalNav: false,
        captions: true
      });
    });
  </script>
<% end %>
