<div class="row">
    <div class="sixteen columns">
        <img src="//placehold.it/960x400&text=Placeholder" class="hero-img">
    </div>
</div>
<div class="row">
    <%= render "products_nav" %>
</div>
<div class="row">
    <div class="sixteen columns">
        <p>
            Also take a look at our <%= link_to "Ready Made", store_path, :class => "nav_item category_item last" %> store.
        </p>
    </div>
</div>
<div class="row">
    <div class="eight columns">
        <article>
            <h3>
                <%= @featured_page.title %>
            </h3>
            <p>
                <%= truncate(@featured_page.body, :length => 865) %>
            </p>
            <p>
                <%= link_to raw("read more &rarr;"), @featured_page %>
            </p>
        </article>
    </div>
    <div class="eight columns">
        <article class="blog">
            <h3>
                <%= @blog['title'] %>
            </h3>
            <p>
                <%= image_tag @blog['img'], :class => "blog_img" %>
                <%= raw @blog['description'] %>
            </p>
            <p>
                <%= link_to raw("read more at the cycle swift blog &rarr;"), @blog['link'] %>
            </p>
        </article>
    </div>
</div>
