<div class="row">
    <div id="hero" class="sixteen columns hero">
        <div id="hero-scroll">
            <% @photos.each do |photo| %>
                <img src=<%= photo[:url] %> class="hero-img">
            <% end %>
        </div>
		<div class="hero-text">
			<h5 class="hero-heading">
				<%= @featured_product.title %>
			</h5>
			<p class="hero-para">
				<%= @featured_product.description %>
				(<%= link_to "read more", @featured_product %>)
			</p>
			<div class="hero-close entypo">&#59236;</div>
			<div class="hero-open entypo">&#59239;</div>
		</div>
    </div>
</div>
<div class="row">
    <%= render "products_nav" %>
</div>
<div class="row">
    <div class="sixteen columns">
        <p>
            Also take a look at our <%= link_to "Ready Made", store_path, :class => "hl-link" %> store.
        </p>
    </div>
</div>
<div class="row">
    <div class="eight columns">
        <article class="featured-page">
            <h3>
                <%= @featured_page.title %>
            </h3>
            <p>
                <%= truncate(@featured_page.body, :length => 865) %>
            </p>
            <p>
                <%= link_to raw("read more &rarr;"), @featured_page, :class => "hl-link" %>
            </p>
        </article>
    </div>
    <div class="eight columns">
        <article class="blog">
            <h3>
                <%= @blog['title'] %>
            </h3>
            <p>
                <%= image_tag @blog['img'], :class => "blog_img" %>
                <%= raw @blog['description'] %>
            </p>
            <p>
                <%= link_to raw("read more at the cycle swift blog &rarr;"), @blog['link'], :class => "hl-link" %>
            </p>
        </article>
    </div>
</div>

<% content_for :js do %>
	<script>
		$('#hero').hero();
	</script>
<% end %>