<%= render :partial => 'shared/checkout' %>
<div class="sixteen columns clearfix">
    <% if @stock.present? %>
        <h1 class="section_heading">Ready Made</h1>
    <% end %>
</div>
<% @stock.each_with_index do |stock, index| %>
    <% endcap = (index + 1).modulo(3) == 0 ? true : false %>
    <div class="one-third column">
        <div class="content_wrapper">
            <div class="content">
                <% photo_url = Product.get_photo_by_id(stock.flickr_photo, "Small") %>
                <img src="<%= photo_url %>">
                <h2>
                    <%= link_to stock.title, stock %>
                </h2>
                <div class="grid_1">
                    <h3 class="humane_price">
                        <%= stock.humane_price %>
                    </h3>
                </div>
                <div class="grid_3 prefix_1">
                    <p class="read_more">
                        <%= link_to "read more ->", stock %>
                    </p>
                </div>
                <div class="grid_2">
                    <h3 class="buy">
                        <%= link_to "BUY", order_product_path(stock) %>
                    </h3>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <% if endcap %>
        <br class=clear>
    <% end %>
<% end %>

<div class="sixteen columns">
    <% if @accessories.present? %>
        <h1 class="section_heading">Accessories</h1>
    <% end %>
</div>

<% @accessories.each_with_index do |accessory, index| %>
    <% endcap = (index + 1).modulo(3) == 0 ? true : false %>
    <div class="one-third column">
        <div class="content_wrapper">
            <div class="content">
                <% photo_url = Product.get_photo_by_id(accessory.flickr_photo, "Small") %>
                <img src="<%= photo_url %>">
                <h2>
                    <%= link_to accessory.title, accessory %>
                </h2>
                <table style="width:100%">
                    <tr>
                        <td style="text-align: left">
                            <h3 class="humane_price">
                                <%= accessory.humane_price %>
                            </h3>
                        </td>
                        <td style="text-align: center">
                            <p class="read_more">
                                <%= link_to "read more ->", accessory %>
                            </p>
                        </td>
                        <td style="text-align: right">
                            <h3 class="buy">
                                <%= link_to "BUY", order_product_path(accessory) %>
                            </h3>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <% if endcap %>
        <br class=clear>
    <% end %>
<% end %>

<div class="three columns offset-by-thirteen">
    <%= link_to "Back to Bags", root_path, :id => "bike_btn" %>
</div>
<div class="five columns offset-by-eleven">
    <%= image_tag "small-logo.png", :id => "logo" %>
</div>
<br class=clear>
