<p id="notice">
  <%= notice %>
</p>

<p id="color_swatch" class="color_swatch" style="background-color: <%= @color.hex %>;">
  <span><%= @color.title %></span>
  <% unless @color.price.blank? %>
    <br> <span>$<%= @color.price %></span>
  <% end %>
  <% unless @color.wholesale_price.blank? %>
    <br> <span>$<%= @color.wholesale_price %> (wholesale)</span>
  <% end %>
  <br>
  <span><%= @color.hex %></span>
</p>

<p>
  <%= link_to 'Edit', edit_color_path(@color) %> |
  <%= link_to 'Back', colors_path %>
</p>
