<p id="notice">
  <%= notice %>
</p>

<p id="color_swatch" style="background-color: #<%= @color.hex %>;">
  <%= @color.title %>
  <code>
    (#<%= @color.hex %>)
  </code>
</p>

<p>
  <%= link_to 'Edit', edit_color_path(@color) %> |
  <%= link_to 'Back', colors_path %>
</p>
  
