<p id="notice">
  <%= notice %>
</p>

<p id="color_swatch" style="background-color: <%= @color.hex %>;">
  <%= @color.title %>
  <% unless @color.price.nil? %>
    <br> $<%= @color.price %>
  <% end %>
  <br>
  <%= @color.hex %>
</p>

<p>
  <%= link_to 'Edit', edit_color_path(@color) %> |
  <%= link_to 'Back', colors_path %>
</p>

