<%= content_for :css do %>
<style>
p {color: #888;}
</style>
<% end %>
<div class="row">
  <div class="col-xs-12">
    <h1>
      <%= image_set_tag "logo_280.png", { "logo_560.png" => "2x" }, { class: "row-header--logo", alt: "Swift Industries" } %>
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-3">
    <ul class="hub-nav">
      <li>
        <%= link_to "Sales", sales_path %>
      </li>
      <li>
        <%= link_to "Gift Certificates", gift_certificates_path %>
      </li>
      <li>
        <%= link_to "Coupons", coupons_path %>
      </li>
      <li>
        <%= link_to "Users", users_path %>
      </li>
      <li>
        <%= link_to "Pre-Approved Dealers", pre_approved_dealers_path %>
      </li>
      <li>
        <%= link_to "Contacts", contacts_path %>
      </li>
      <li>
        <%= link_to "Products", products_path %>
      </li>
      <li>
        <%= link_to 'Categories', categories_path %>
      </li>
      <li>
        <%= link_to 'Pages', pages_path %>
      </li>
      <li>
        <%= link_to 'Colors', colors_path %>
      </li>
      <li>
        <%= link_to 'Boxes', postmaster_boxes_path %>
      </li>
      <li>
        <%= link_to "Company Info", Company.first %>
      </li>
    </ul>
  </div>
  <div class="col-xs-12 col-sm-4">
    <ul class="hub-nav">
      <li>
        <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
      </li>
      <li>
        <%= link_to "Clear home page page cache", hub_expire_home_cache_path %>
        <p>Because of page caching (which makes the home page load as fast as possible), the home page content will not automatically update when the "Cycle Swift" blog has been updated.</p>
      </li>

      <li>
        <%= link_to "Clear the flickr cache", hub_expire_flickr_cache_path %>
        <p>If you've updated photos at Flickr, click this to clear the Flickr cache.</p>
      </li>
      <li>
        <%= link_to "Flickr Photos", "http://flickr.com/photos/#{APP_CONFIG[:flickr_user_id]}" %>
        <p>The flickr photo library used by the site.</p>
      </li>
      <li style="display: none">
        <%= link_to "Stripe Dashboard", "https://dashboard.stripe.com/dashboard/" %>
      </li>
      <li>
        <%= link_to "Postmaster Dashboard", "https://www.postmaster.io/dashboard/" %>
      </li>
    </ul>
  </div>
</div>
