<div class="color-picker--wrapper" data-for="#<%= digest('select' + part.title) %>">

    <div class="color-picker--swatches">
		<%#
        <div
            class="color-picker--swatch color-picker--swatch-blank"
            title="Choose One...">
        </div>
		%>
        <% colors.each do |color| %>
            <div
                class="color-picker--swatch"
                style="background-color: <%= color.hex %>; border: 1px solid <%= color.hex %>"
                title='<%= color.title %> <%= "($#{color.price})" if color.price.present? %>'>
                <% if color.price.present? %>
                    $<%= color.price %>
                <% end %>
            </div>
        <% end %>
    </div>

    <div class="color-picker--change button remove-bottom">
        Choose Color
    </div>

    <br class="clear">

</div>
