<%= form_for @product do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :kind, "Type" %><br />
    <%= f.select :kind, options_for_select(["Product", "Accessory"], :selected => @product.kind) %>
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :short_title %><br />
    <%= f.text_field :short_title %>
    <p class="hint">
      The short title will be used in space-constrained spaces (navigation lists, etc.).
    </p>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
    <p class="hint">
      ex: 299.01
    </p>
  </div>
  <div class="field">
    <%= f.label :humane_price %><br />
    <%= f.text_field :humane_price %>
    <p class="hint">
      ex: "$200 for a pair"
    </p>
  </div>
  <div class="field">
    <%= f.label :flickr_tag %><br />
    <%= f.text_field :flickr_tag %>
    <p class="hint">
      Enter a flickr tag to display a photo gallery. Leave blank for none.
    </p>
  </div>
  <div class="field">
    <%= f.label :flickr_photo %><br />
    <%= f.text_field :flickr_photo %>
    <p class="hint">
      The flickr photo id [<a href="http://d.pr/Q7xE" target="_new">?</a>] for the featured photo, e.g. the one which shows up on the home page.
    </p>
  </div>
  <div class="field">
    <%= f.label :specs %><br />
    <%= f.text_area :specs %>
  </div>
  <div class="field">
    <%= f.label "Custom order question" %><br />
    <%= f.text_field :question %>
    <p class="hint">
      One additional question you can ask a customer during the order process.
    </p>
  </div>
  <div class="field">
    <%= f.label "Custom order answer" %><br />
    <%= f.text_field :answer %>
    <p class="hint">
      If the question has a set amount of choices, enter them as a comma-separated list, ex: <code>dogs, chimps, beavers</code>. Otherwise, leave the field blank if the answer is freeform.
    </p>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.select :status, options_for_select(["Private", "Public"], :selected => @product.status) %>
    <p class="hint">
      Setting a product as private does not prevent a stranger from directly typing in the URL and finding it. It does, however, prevent it from being linked to from any pages on the site.
    </p>
  </div>
  <div class="field">
    <p>Parts</p>
  </div>
  <%= f.fields_for :parts do |parts_fields| %>
    <%= render :partial => 'parts_fields', :locals => { :f => parts_fields } %>
  <% end %>
  <div class="field add">
    <label>
      <%= link_to_add_fields "Add Part", f, :parts %>
    </label>
  </div>
  <%= f.fields_for :testimonials do |testimonials_fields| %>
    <%= render :partial => 'testimonials_fields', :locals => { :f => testimonials_fields } %>
  <% end %>
  <div class="field add">
    <label>
      <%= link_to_add_fields "Add Testimonial", f, :testimonials %>
    </label>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
