<% if @product.sizes.present? %>
    <h4 class="order-section-heading">
        Sizing
    </h4>
    <div class="row row-sizes">
        <div class="label-input-pair">
            <label for="productpr1" class="label">
                Choose your size!
            </label>
            <select id="productpr1" name="productpr1" class="select-size">
                <option value="invalid">
                    Choose One
                </option>
                <% @product.sizes.each do |size| %>
                    <option value="<%= @product.title %>, <%= size.title %>:<%= size.price_for(session[:is_wholesale_user]) %>">
                        <%= size.title %> ($<%= size.price_for(session[:is_wholesale_user]) %>)
                    </option>
                <% end %>
            </select>
        </div>
    </div>
<% end %>
