<%# HACK: sets the product id. 2011-02-06 %>
<%
  if f.object.id.nil?
    eye_dee = 'new_parts'
  else
    eye_dee = f.object.id
  end
%>

<div class="indent group">
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :colors, "Available in the following colors" %><br>
    <% Color.all.each do |color| %>
      <label>
        <%
          unless eye_dee == "new_parts"
            # Does this color.id match any of colors set
            needle = color
            match = Part.find_by_id(eye_dee).colors.any? do |haystack|
              haystack.id == needle.id
            end
          end
        %>
        <%= check_box_tag "product[parts_attributes][#{eye_dee}][color_ids][]", color.id, match %>
        <%= color.title %>
        [<%= color.id %>]
        <% unless eye_dee == "new_parts" %>
          [<% Part.find_by_id(eye_dee).colors.each do |color| %>
            <%= color.id %>,
          <% end %>]
        <% end %>
        <% unless color.price.nil? %>
          $<%= color.price %>
        <% end %>
      </label>
      <br>
      <%# check_box_tag "product[parts_attributes][#{eye_dee}][color_ids][]", color.id, @product.parts['new_parts']['colors'].include?(color) %>
    <% end %>
  </div>
  <div class="field destroy">
    <label>
      <%= f.hidden_field :_destroy %>
      <%= link_to_function "Remove Part", "remove_fields(this)" %>
    </label>
  </div>
</div>