<%#
    HACK      HACK        HACK         HACK HACK   HACK   HACK     HACK
    HACK      HACK      HACK  HA      HACK         HACK  HACK      HACK
    HACK HACK HACK     HACK   HAC     HACK         HACKHACK        HACK
    HACK      HACK    HACKHACK HACK   HACK         HACK  HACK
    HACK      HACK   HACK      HACK    HACK HACK   HACK   HACK     HACK

     Set the correct name value on the color checkboxes so they match
                        the corresponding part.

    See here for someone solving something similar:
     http://chrisblunt.com/2009/10/12/rails-getting-the-id-of-form-fields-inside-a-fields_for-block/
%>
<%
  if f.object.id.nil?
    eye_dee = 'new_parts'
  else
    eye_dee = f.object.id
    obj_name = f.object_name # product[parts_attributes][0]
  end
%>

<div class="indent group nested-fields">
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :price %>
    <%= f.text_field :price %>
    <p class="hint">
        ex: 15.00
    </p>
  </div>
  <div class="field">
    <%= f.label :wholesale_price %>
    <%= f.text_field :wholesale_price %>
    <p class="hint">
        ex: 12.00
    </p>
  </div>
  <div class="field color_fields">
    <%= f.label :colors, "Available in the following colors" %>
    <button class="btn color_label">
      hide/show colors
    </button>
    <br>
    <ul class="color_boxes minimal-list" style="display:none">
      <% Color.all.each do |color| %>
        <li>
          <label>
            <%
              unless eye_dee == "new_parts"
                # Does this color.id match any of colors set
                needle = color
                match = Part.find_by_id(eye_dee).colors.any? do |haystack|
                  haystack.id == needle.id
                end
              end
            %>
            <% if eye_dee == "new_parts" %>
              <%= check_box_tag "product[parts_attributes][#{eye_dee}][color_ids][]", color.id, match %>
            <% else %>
              <%= check_box_tag "#{obj_name}[color_ids][]", color.id, match %>
            <% end %>
            <span class="mini-swatch" style="background-color: <%= color.hex %>">
              &nbsp;
            </span>

            <%= color.title %>
            <% unless color.price.blank? %>
              $<%= color.price %>
            <% end %>
            <% unless color.wholesale_price.blank? %>
              <span style="color: #999">[$<%= color.wholesale_price %> (wholesale)]</span>
            <% end %>
          </label>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="field destroy">
    <label>
      <%= link_to_remove_association "remove part", f %>
    </label>
  </div>
</div>
