<div class="indent group">
  <div class="field">
    <%= f.label :title, "Part" %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :price, "Price" %><br>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.hidden_field :_destroy %>
    <%= link_to_function "Remove", "remove_fields(this)" %>
  </div>

  <%= f.fields_for :colors do |builder| %>
    <%= render :partial => 'color_fields', :locals => { :f => builder } %>
  <% end %>
</div>