<div class="indent group">
  <div class="field">
    <%= f.label :title, "Part" %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :price, "Price" %><br>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.hidden_field :_destroy %>
    <%= link_to_function "Remove", "remove_fields(this)" %>
  </div>


  <div class="field">
    <%= f.label :colors, "Colors" %><br>
    <% Color.all.each_with_index do |color, i| %>
      <%# TODO: figure out how to set the ID correctly? %>
      <%= check_box_tag "product[parts_attributes][0][color_ids][]", color.id  %> <%= color.title -%> <br>
    <% end %>
  </div>  
  
  <%# f.fields_for :colors do |builder| %>
    <%# render :partial => 'color_fields', :locals => { :f => builder } %>
  <%# end %>
</div>