<div class="indent group">
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :price %>
    <%= f.text_field :price %>
    <p class="hint">
        ex: 15.00
    </p>
  </div>
  <div class="field">
    <%= f.label :wholesale_price %>
    <%= f.text_field :wholesale_price %>
    <p class="hint">
        ex: 12.00
    </p>
  </div>
  <div class="field destroy">
    <label>
      <%= f.hidden_field :_destroy %>
      <%= link_to_function "Remove Size", "remove_fields(this)" %>
    </label>
  </div>
</div>
