<div class="indent group nested-fields">
  <div class="field">
    <%= f.label :body %>
    <%= f.text_area :body %>
    <%= render 'shared/markdown_hint' %>
  </div>
  <div class="field">
    <%= f.label :author %>
    <%= f.text_field :author %>
  </div>
  <div class="field destroy">
    <label>
      <%= link_to_remove_association "remove testimonial", f %>
    </label>
  </div>
</div>
