<h1>Products</h1>
<p>
	<%= link_to 'New Product', new_product_path, class: "button" %>
</p>
<table>
  <tr>
    <th>Type</th>
    <th>Status</th>
    <th></th>
    <th>Title</th>
    <th>Short Title</th>
    <th>Description</th>
    <th>Price</th>
    <th>Humane Price</th>
    <th>Wholesale Price</th>
    <th>Wholesale Humane Price</th>
    <th>Flickr Tag</th>
    <th>Featured Photo</th>
    <th>Specs</th>
    <th></th>
  </tr>
<% @products.each do |product| %>
  <tr>
    <td><%= image_tag "#{product.kind}.png" %></td>
    <td><%= image_tag "#{product.status}.png" %></td>
    <td>
		<%= link_to image_tag("edit.png"), edit_product_path(product) %>
	</td>
    <td>
      <%= link_to product.title, product %>
    </td>
    <td><%= product.short_title %></td>
    <td><%= truncate(product.description, :length => 10) %></td>
    <td><%= product.price %></td>
    <td><%= product.humane_price %></td>
    <td><%= product.wholesale_price %></td>
    <td><%= product.wholesale_humane_price %></td>
    <td><%= product.flickr_tag %></td>
    <td><%= product.flickr_photo %></td>
    <td><%= truncate(product.specs, :length => 10) %></td>
	<td>
		<%= link_to image_tag("destroy.png"), product, :confirm => 'Are you sure?', :method => :delete %>
	</td>
  </tr>
<% end %>
</table>
