<h1>
    Products
</h1>
<p>
  <%= link_to raw('&larr; Hub'), hub_path, class: "btn" %>
  <%= link_to 'Create New Product', new_product_path, class: "btn" %>
</p>
<div class="tabs">
  <div class="tab">
    Public Products
  </div>
  <div class="tab">
    Private Products
  </div>
  <div class="tab">
    Public Stock
  </div>
  <div class="tab">
    Private Stock
  </div>
  <div class="tab">
    Public Accessories
  </div>
  <div class="tab">
    Private Accessories
  </div>
  <div class="tab-divider"></div>
  <div class="card">
    <%= render 'products_table', products: @public_products, title: 'Public Products' %>
  </div>
  <div class="card">
    <%= render 'products_table', products: @private_products, title: 'Private Products' %>
  </div>
  <div class="card">
    <%= render 'products_table', products: @public_stock, title: 'Public Stock' %>
  </div>
  <div class="card">
    <%= render 'products_table', products: @private_stock, title: 'Private Stock' %>
  </div>
  <div class="card">
    <%= render 'products_table', products: @public_accessories, title: 'Public Accessories' %>
  </div>
  <div class="card">
    <%= render 'products_table', products: @private_accessories, title: 'Private Accessories' %>
  </div>
</div>
<%= content_for :js do %>
<script>
  $(document).ready(function(){
    $('.tabs').tabs();
  });
</script>
<% end %>
