<h1>Products</h1>
<p>
    <%= link_to 'New Product', new_product_path, class: "button" %>
</p>
<%= render 'products_table', products: @public_products, title: 'Public Products' %>
<%= render 'products_table', products: @private_products, title: 'Private Products' %>
<%= render 'products_table', products: @public_stock, title: 'Public Stock' %>
<%= render 'products_table', products: @private_stock, title: 'Private Stock' %>
<%= render 'products_table', products: @public_accessories, title: 'Public Accessories' %>
<%= render 'products_table', products: @private_accessories, title: 'Private Accessories' %>


<%= content_for :js do %>
<script>
    $('h3')
        .css('cursor', 'pointer')
        .on('click', function() {
            $(this).next('table').toggle()
        })
</script>
<% end %>
