<%= content_for :flash do %>
    <p id="notice">
        <%= notice %>
    </p>
<% end %>
<% unless @product.public? %>
    <p id="private_notice">
        private!
    </p>
<% end %>

<div class="grid_12 left_col">
    <div class="content_wrapper">
        <div class="content">
            <%= render :partial => 'shared/slideshow' %>
            <div class="text_content">
                <%= render :partial => 'color_swatches' %>
            </div>
        </div>
    </div>
</div>
<div class="grid_12 omega right_col">
    <div class="content_wrapper">
        <div class="content">
            <form id="order_form" method="post" action="<%= APP_CONFIG['store_url'] %>" data-count="1">
                <%# -------- START MAL's fields -------- %>
                <%# Mal's userid %>
                <input type="hidden" name="userid" value="<%= APP_CONFIG['store_userid'] %>">
                <%# Mal's needs different params sent if the product has diff. prices based on size. %>
                <% unless @product.sizes.present? %>
                    <input type="hidden" name="product1[]" value="<%= @product.title %>">
                    <input type="hidden" name="price1" value="<%= @product.price %>">
                <% end %>
                <%# we only send 1 product, all the time. might need to be changed in the future. %>
                <input type="hidden" name="qty1" value="1">
                <%# Parts fields get put in here for processing by Mal's %>
                <div id="parts"></div>
                <%# -------- END MAL's fields -------- %>
                <h2>
                    <%= @product.title %>
                </h2>
                <p>
                    <%= raw md @product.description %>
                </p>
                <% if @product.sizes.present? %>
                    <h3>
                        <% @product.sizes.each do |size| %>
                            <%= size.title %>: $<%= size.price %><br>
                        <% end %>
                    </h3>
                <% else %>
                    <h3>
                        <%= @product.humane_price %>
                    </h3>
                <% end %>
                <h3>
                    Specs
                </h3>
                <p>
                    <%= raw md @product.specs %>
                </p>
                <% if @product.sizes.present? %>
                    <div class="fields">
                        <div class="field">
                            <h3>
                                Sizing
                            </h3>
                            <p class="label">
                                Choose your size!
                            </p>
                            <p class="input">
                                <select name="productpr1">
                                    <% @product.sizes.each do |size| %>
                                        <option value="<%= @product.title %>, <%= size.title %>:<%= size.price %>">
                                            <%= size.title %> ($<%= size.price %>)
                                        </option>
                                    <% end %>
                                </select>
                            </p>
                            <div class="clear"></div>
                        </div>
                    </div>
                <% end %>
                <% unless @product.question.blank? %>
                    <div class="fields">
                        <div class="field">
                            <p class="label">
                                <%= @product.question %>
                            </p>
                            <p class="input">
                                <% if @product.answer.blank? %>
                                    <input type="text" name="product1[]">
                                <% else %>
                                    <select name="product1[]">
                                        <option>
                                            Choose One
                                        </option>
                                        <% @product.answer.split(',').each do |option| %>
                                            <option>
                                                <%= option %>
                                            </option>
                                        <% end %>
                                    </select>
                                <% end %>
                            </p>
                            <div class="clear"></div>
                        </div>
                    </div>
                <% end %>
                <% if @product.parts.present? %>
                    <h3>
                        Customize your parts
                    </h3>
                    <div class="fields">
                        <% @product.parts.each do |part| %>
                            <div class="field">
                                <p class="label">
                                    <%# If it has a price, display a checkbox so they can add it. %>
                                    <% if part.price.present? %>
                                        <input
                                            type="checkbox"
                                            class="has_price"
                                            data-hash="<%= digest(part.title + part.id.to_s) %>"
                                            data-product="<%= part.title %>"
                                            data-price="<%= part.price %>">
                                    <% end %>
                                    <%= part.title %>
                                    <%= "$#{part.price}" if part.price.present? %>
                                </p>
                                <% unless part.colors.empty? %>
                                    <p class="input">
                                        <select name="product1[]" class="has_price" data-hash="<%= digest('select' + part.title) %>">
                                            <% part.colors.each do |color| %>
                                                <option
                                                    data-hash="<%= digest(color.title + color.id.to_s) %>"
                                                    data-product="<%= color.title %>"
                                                    data-price="<%= color.price %>"
                                                    <%# The value sets the title of the part which shows up at Mal's %>
                                                    value="<%= part.title %> (<%= color.title %><%= ": $#{color.price}" unless color.price.blank? %>) ">
                                                    <%= color.title %>
                                                    <%= "($#{color.price})" unless color.price.blank? %>
                                                </option>
                                            <% end %>
                                        </select>
                                    </p>
                                <% else %>
                                    <p class="input no_color_choices">
                                        <i>No color choices.</i>
                                    </p>
                                <% end %>
                            </div>
                            <div class="clear"></div>
                            <div class="divider"></div>
                        <% end %>
                    </div>
                <% end %>
                <div class="fields">
                    <p class="label"></p>
                    <p class="input">
                        <button type="submit" id="submit_order">
                            Submit Order
                        </button>
                    </p>
                    <div class="clear"></div>
                </div>
            </form>
            <div class="clear"></div>
            <%= render :partial => 'shared/right_col_footer_nav' %>
        </div>
    </div>
</div>
<div class="clear"></div>

<%= content_for :js do %>
    <script type="text/html" id="product_tmpl">
        <div id="part_{{ hash }}">
            <input type="hidden" name="product{{ count }}" value="{{ product }}">
            <input type="hidden" name="price{{ count }}" value="{{ price }}">
            <input type="hidden" name="qty{{ count }}" value="{{ qty }}>">
        </div>
    </script>
    <script>
        $(document).ready(function() {
            $.productOrder()
        })
        $(window).load(function() {
            // this is causing misalignment
            $('.content').equalHeights(600)
        })
    </script>
<% end %>
