<% unless @product.public? %>
  <p class="private" style="position: absolute; top: 0; left: 0; padding: 2px 6px; border: 1px solid rgba(0,0,0,.2);-webkit-box-shadow: 0 0 4px rgba(0,0,0,.3); border-top: 0;">
    private!
  </p>
<% end %>
<p id="notice">
  <%= notice %>
</p>
<h2>
  <%= @product.title %>
</h2>
<h3>
  About <%= @product.title %>
</h3>
<p>
  <%= @product.description %>
</p>
<p>
  $<%= @product.price %>
</p>
<h3>
  Specs
</h3>
<p>
  <%= @product.specs %>
</p>
<h3>
  Testimonials
</h3>
<% @product.testimonials.each do |testimonial| %>
  <p>
    <%= testimonial.body %>
  </p>
  <p>
    &mdash; <%= testimonial.author %>
  </p>
<% end %>
<%= render :partial => 'shared/slideshow' %>
<p>
  <%= link_to "Order it", :action => "order", :id => @product %>
</p>
