<% unless @product.public? %>
    <p id="private_notice">
        private!
    </p>
<% end %>

<div class="grid_12 left_col">
    <div class="content_wrapper">
        <div class="content">
            <%= render :partial => 'shared/slideshow' %>
            <div id="product_description">
                <%= raw md @product.description %>
            </div>
        </div>
    </div>
</div>
<div class="grid_12 right_col">
    <div class="content_wrapper">
        <div class="content">
            <div id="illustration" style="background-image: url('<%= @illustration %>')"></div>
            <div class="text_content">
                <h2 id="product_title">
                    <%= @product.title %>
                </h2>
                <h3 id="humane_price">
                    <%= @product.humane_price %>
                </h3>
                <p>
                  <%= raw md @product.specs %>
                </p>
                <% if @product.testimonials.present? %>
                    <div id="testimonials">
                        <h3>
                            Testimonials
                        </h3>
                        <% @product.testimonials.each do |testimonial| %>
                            <p class="testimonial_body">
                                <%= raw md testimonial.body %>
                            </p>
                            <p class="testimonial_author">
                                &mdash; <%= testimonial.author %>
                            </p>
                        <% end %>
                    </div>
                <% end %>
                <div class="grid_6 prefix_2 alpha omega">
                    <p id="design_your_bags">
                        <%= link_to "Design your bags", order_product_path(@product), :id => "submit_order" %>
                    </p>
                </div>
            </div>
            <div class="clear"></div>
            <%= render :partial => 'shared/right_col_footer_nav' %>
        </div>
    </div>
</div>
<div class="clear"></div>

<%= content_for :js do %>
    <script>
        $(window).load(function() {
            $('.content').equalHeights()
        })
    </script>
<% end %>