<p>
  <b>Company:</b>
  <%= @sale.company.present? ? @sale.company : "n/a" %>
</p>

<table style="min-width: 50%" class="table">
  <thead>
    <tr>
      <th>
        Charge Type
      </th>
      <th>
        Amount
      </th>
      <th>
        Details
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        Product
      </td>
      <td>
        <%= number_to_currency(cents_to_dollars(@sale.amount)) %>
      </td>
      <td>
      </td>
    </tr>
    <tr>
      <td>
        Coupon
      </td>
      <td>
        <% if @sale.saved_with_coupon.present? %>
          -<%= number_to_currency(cents_to_dollars(@sale.saved_with_coupon)) %>
        <% else %>
          n/a
        <% end %>
      </td>
      <td>
        <% if @coupon.present? %>
          Coupon Code: <%= link_to @coupon.code, @coupon %><br>
        <% end %>
      </td>
    <% unless @sale.pickup? %>
      <tr>
        <td>
          Shipping
        </td>
        <td>
          <%= number_to_currency(cents_to_dollars(@sale.shipping_charge)) %>
        </td>
        <td>
          <%= @sale.shipping_provider.upcase %><br>
          <%= @sale.shipping_service %><br>
          <% if @sale.shipping_service_is_flat_rate? %>
            (Flat Rate)<br>
          <% else %>
            (Postmaster)
          <% end %>
          <%= @sale.weight %>lbs.<br>
          <% if @sale.shipping_contact.present? %>
              Ship to <%= @sale.shipping_contact %>.
          <% else %>
              Ship to <%= @sale.contact %>.
          <% end %>
        </td>
      </tr>
    <% end %>
    <tr>
      <td>
        Tax
      </td>
      <td>
        <%= number_to_currency(cents_to_dollars(@sale.tax_amount)) %>
      </td>
      <td>
        <% if @sale.tax_rate.present? %>
          <%= @sale.tax_rate %>%
        <% end %>
      </td>
    </tr>
    <% if @sale.gift_certificate_guid.present? %>
      <tr>
        <td>
          Gift Certificate
        </td>
        <td>
            <%= number_to_currency(cents_to_dollars(@sale.gift_cert_applied)) %>
        </td>
        <td>
          <ul style="margin: 0; padding: 0;">
            <li>
              <a href="/gift_certificates/show?guid=<%= @sale.gift_certificate_guid %>">
                <%= @sale.gift_certificate_guid %>
              </a>
            </li>
            <li>
              Remaining value of Gift Certificate after this sale: <%= number_to_currency(cents_to_dollars(@sale.gift_cert_remain)) %>
            </li>
            <li>
              Total charged to customer via Stripe: <%= number_to_currency(cents_to_dollars(@sale.total_with_gift_cert)) %>
            </li>
          </ul>
        </td>
    <% end %>
    <tr>
      <td></td>
      <td colspan=2>
        <strong><%= number_to_currency(cents_to_dollars(@sale.total)) %></strong>
      </td>
    </tr>
  </tbody>
</table>


