<div class="twelve columns">
    <h2>
        Checkout
    </h2>
    <%= form_for @sale, html: { id: "checkout-form" } do |f| %>
        <% if @sale.errors.any? %>
            <div id="error_explanation">
                <h2><%= pluralize(@sale.errors.count, "error") %> prohibited this sale from being saved:</h2>
                <ul>
                    <% @sale.errors.full_messages.each do |msg| %>
                        <li><%= msg %></li>
                    <% end %>
                </ul>
            </div>
        <% end %>
        <h4>
            Contact info
        </h4>
        <div class="row row--order">
            <div class="label-input-pair">
                <%= f.label :email, class: "label" %>
                <%= f.text_field :email, placeholder: "you@example.com", type: "email" %>
            </div>
            <div class="label-input-pair">
                <label><input name="send_me_marketing_emails" type="checkbox"> Send me marketing emails</label>
            </div>
        </div>
        <h4>
            Payment info
        </h4>
        <div class="row row--order">
            <div class="label-input-pair">
                <label class="label">
                    Credit Card #
                </label>
                <input
                    type="text"
                    size="20"
                    data-stripe="number"
                    placeholder="**** **** **** ****"
                    pattern="[\d ]*">
            </div>
            <div class="label-input-pair">
                <label class="label">
                    CVC
                </label>
                <input
                    style="width: 3em"
                    type="text"
                    size="3"
                    data-stripe="cvc"
                    placeholder="***"
                    pattern="\d*">
            </div>
            <div class="label-input-pair">
                <label class="label">
                    Exp Month/Year
                </label>
                <input
                    style="width: 3em;"
                    class="input--inline"
                    type="text"
                    size="2"
                    data-stripe="exp-month"
                    placeholder="MM"
                    pattern="\d*">
                <input
                    style="width: 4em;"
                    class="input--inline"
                    type="text"
                    size="4"
                    id="exp-year"
                    data-stripe="exp-year"
                    placeholder="YYYY"
                    pattern="\d*">
            </div>
        </div>

        <input type="hidden" name="sale[p]" value="{{ cart.totalPriceInCents }}">
        <input id="j" type="hidden" name="sale[j]">

        <div class="row row--order">
            <%= f.submit 'Buy It', class: 'btn' %>
        </div>
    <% end %>

    <% content_for :js do %>
        <script>
            checkout();
        </script>
    <% end %>
</div>
<div class="four columns">
    <h4>
        Your Order
    </h4>
    <div class="row row--checkout-summary-item">
        <b>Items in Cart</b>:
        <ul ng-repeat="product in cart.products">
            <li>
                {{ product.title }}
            </li>
        </ul>
    </div>
    <div class="row row--checkout-summary-item">
        <b>Total Price</b>:
        {{ cart.totalPrice | currency }}
    </div>
</div>
