<div ng-controller="CheckoutCtrl" ng-cloak>
    <div class="twelve columns">
        <h2>
            Checkout
        </h2>
        <h4>
            Shipping
        </h4>
        <div class="row row--order" id="row-shipping">
            <div class="label-input-pair">
                <label class="label">
                    <input type="checkbox" ng-model="pickup" ng-change="onPickupChanged()"> Check if you will be picking your order
                </label>
            </div>
            <div class="label-input-pair pickup-is-{{ pickup }}">
                <label class="label">
                    Street
                </label>
                <input type="text" ng-model="line1" ng-disabled="pickup">
            </div>
            <div class="label-input-pair pickup-is-{{ pickup }}">
                <label class="label">
                    City
                </label>
                <input type="text" ng-model="city" ng-disabled="pickup">
            </div>
            <div class="label-input-pair pickup-is-{{ pickup }}">
                <label class="label">
                    State/Province
                </label>
                <input type="text" ng-model="state" ng-disabled="pickup">
            </div>
            <div class="label-input-pair pickup-is-{{ pickup }}">
                <label class="label">
                    Zip/Postal Code
                </label>
                <input type="text" ng-model="zip_code" ng-disabled="pickup">
            </div>
            <div class="label-input-pair pickup-is-{{ pickup }}">
                <label class="label">
                    Country
                </label>
                <select
                    ng-model="country"
                    ng-options="k as v for (k,v) in countryCodes"
                    ng-disabled="pickup"
                    class="input">
                </select>
            </div>
            <div class="label-input-pair pickup-is-{{ pickup }}">
                <button class="btn btn--progress" ng-click="onCalculateShippingCostBtnClicked()" ng-disabled="pickup || busy">
                    <span sw-visible="!busy">
                        Calculate Shipping Cost
                    </span>
                    <img sw-visible="busy" src="/assets/spin.gif" class="btn--progress__spin">
                </button>
            </div>
            <p ng-show="isShippingReady" class="pickup-is-{{ pickup }} best-price-{{ provider.best }}" ng-repeat="provider in rates">
                We will ship your package to you with {{ provider.provider }} via
                {{ provider.service }} at a cost of {{ provider.charge / 100 | currency }}.
            </p>
        </div>
        <div ng-show="isShippingReady || pickup" id="row-contact">
            <%= form_for @sale, html: { id: "checkout-form" } do |f| %>
                <% if @sale.errors.any? %>
                    <div id="error_explanation">
                        <h2><%= pluralize(@sale.errors.count, "error") %> prohibited this sale from being saved:</h2>
                        <ul>
                            <% @sale.errors.full_messages.each do |msg| %>
                                <li><%= msg %></li>
                            <% end %>
                        </ul>
                    </div>
                <% end %>
                <h4>
                    Contact info
                </h4>
                <div class="row row--order">
                    <div class="label-input-pair">
                        <%= f.label :email, class: "label" %>
                        <%= f.text_field :email, placeholder: "you@example.com", type: "email" %>
                    </div>
                    <div class="label-input-pair">
                        <label><input name="send_me_marketing_emails" type="checkbox"> Send me marketing emails</label>
                    </div>
                </div>
                <h4>
                    Payment info
                </h4>
                <div class="row row--order">
                    <div class="label-input-pair">
                        <label class="label">
                            Credit Card #
                        </label>
                        <input
                            type="text"
                            size="20"
                            data-stripe="number"
                            placeholder="**** **** **** ****"
                            pattern="[\d ]*">
                    </div>
                    <div class="label-input-pair">
                        <label class="label">
                            CVC
                        </label>
                        <input
                            style="width: 3em"
                            type="text"
                            size="3"
                            maxlength="3"
                            data-stripe="cvc"
                            placeholder="***"
                            pattern="\d*">
                    </div>
                    <div class="label-input-pair">
                        <label class="label">
                            Exp Month/Year
                        </label>
                        <input
                            style="width: 3em;"
                            class="input--inline"
                            type="text"
                            size="2"
                            maxlength="2"
                            data-stripe="exp-month"
                            placeholder="MM"
                            pattern="\d*">
                        <input
                            style="width: 4em;"
                            class="input--inline"
                            type="text"
                            size="4"
                            maxlength="4"
                            id="exp-year"
                            data-stripe="exp-year"
                            placeholder="YYYY"
                            pattern="\d*">
                    </div>
                </div>

                <input id="j" type="hidden" name="sale[j]">
                <input type="hidden" name="sale[p]"         value="{{ cart.price }}">
                <input type="hidden" name="sale[t]"         value="{{ cart.total }}">
                <input type="hidden" name="sale[tr]"        value="{{ cart.taxRate }}">
                <input type="hidden" name="sale[ta]"        value="{{ cart.taxAmount }}">
                <input type="hidden" name="sale[line1]"     value="{{ line1 }}">
                <input type="hidden" name="sale[line2]"     value="{{ line2 }}">
                <input type="hidden" name="sale[city]"      value="{{ city }}">
                <input type="hidden" name="sale[state]"     value="{{ state }}">
                <input type="hidden" name="sale[zip_code]"  value="{{ zip_code }}">
                <input type="hidden" name="sale[country]"   value="{{ country }}">
                <input type="hidden" name="sale[pickup]"    value="{{ pickup }}">
                <input type="hidden" name="sale[shipping_provider]" value="{{ shipping.provider }}">
                <input type="hidden" name="sale[shipping_service]"  value="{{ shipping.service }}">
                <input type="hidden" name="sale[shipping_charge]"   value="{{ shipping.charge }}">

                <div class="row row--order">
                    <%= f.submit 'Buy It', class: 'btn' %>
                </div>
            <% end %>
            <% content_for :js do %>
                <script>
                    checkout();
                </script>
            <% end %>
        </div>
    </div>
    <div class="four columns">
        <div class="row row--checkout-sidebar">
            <h4>
                Your Order
            </h4>
        </div>
        <div class="row row--checkout-sidebar">
            <b>Items in Cart</b>:
            <ul ng-repeat="product in cart.products">
                <li>
                    {{ product.title }}
                    <span class="demph" title="Quantity: {{ product.quantity }}">
                        ({{ product.quantity }})
                    </span>
                </li>
            </ul>
        </div>
        <div class="row row--checkout-sidebar" ng-show="cart.taxAmount">
            <b>WA State Tax Amount</b>:
            {{ (cart.taxAmount / 100) | currency }}
        </div>
        <div class="row row--checkout-sidebar" ng-show="cart.shippingCharge">
            <b>Shipping</b>:
            {{ (cart.shippingCharge / 100) | currency }}
        </div>
        <div class="row row--checkout-sidebar">
            <b>Total Price</b>:
            {{ (cart.total / 100) | currency }}
        </div>
    </div>
</div>
