<p id="notice"><%= notice %></p>

<h2>
    Order Details
</h2>
<p>
  <b>
    Date
  </b>
  <%= @sale.updated_at.strftime("%b %-d, %Y, %-l:%M%p") %>
</p>
<p>
  <b>Customer URL:</b>
  <a href="/orders/<%= @sale.guid %>">
      /orders/<%= @sale.guid %>
  </a>
</p>
<p>
  <b>Stripe ID:</b>
  <% if Rails.env == "production" %>
    <a href="https://manage.stripe.com/prod/payments/<%= @sale.stripe_id %>">
      <%= @sale.stripe_id %>
    </a>
  <% else %>
    <a href="https://manage.stripe.com/test/payments/<%= @sale.stripe_id %>">
      <%= @sale.stripe_id %>
    </a>
  <% end %>
</p>

<p>
  <b>Customer Email:</b>
  <a href="mailto:<%= @sale.email %>">
    <%= @sale.email %>
  </a>
</p>

<p>
  <b>Charges:</b>
</p>
<table style="min-width: 50%">
  <thead>
    <tr>
      <th>
        Type
      </th>
      <th>
        Amount
      </th>
      <th>
        Details
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        Base
      </td>
      <td>
        <%= number_to_currency(cents_to_dollars(@sale.amount)) %>
      </td>
      <td></td>
    </tr>
    <tr>
      <td>
        Shipping
      </td>
      <td>
        <%= number_to_currency(cents_to_dollars(@sale.shipping_charge)) %>
      </td>
      <td>
        <%= @sale.shipping_provider.upcase %><br>
        <%= @sale.shipping_service %>
      </td>
    </tr>
    <tr>
      <td>
        Tax
      </td>
      <td>
        <%= number_to_currency(cents_to_dollars(@sale.tax_amount)) %>
      </td>
      <td>
        <%= @sale.tax_rate %>%
      </td>
    </tr>
    <tr>
      <td>
        <strong>Total</strong>
      </td>
      <td>
        <strong><%= number_to_currency(cents_to_dollars(@sale.total)) %></strong>
      </td>
    </tr>
  </tbody>
</table>
<br>
<p>
  <b>Description:</b>
  <pre><%= JSON.pretty_generate(JSON.parse(@sale.description)) %></pre>
</p>


<%= link_to 'Edit', edit_sale_path(@sale) %> |
<%= link_to 'Back', sales_path %>
