<p id="notice"><%= notice %></p>

<h2>
  Sale #<%= @sale.id %>
</h2>
<p>
  Ordered by <%= @sale.contact %>
  (<a href="mailto:<%= @sale.email %>"><%= @sale.email %></a>)
  on <%= @sale.updated_at.strftime("%b %-d, %Y, %-l:%M%p") %>.
</p>

<p>
  <%= link_to raw('&larr; Sales'), sales_path, class: "btn" %>
  <% if @sale.status != "Printed" && @sale.status != "Shipped" %>
    <a href="/orders/<%= @sale.guid %>" class="btn">
        View Printable Page
    </a>
    <%= link_to "Mark as 'Printed'", sale_path(id: @sale.id, sale: { status: "Printed" }), :remote => true, :method => :put, "data-type" => :json, id: 'markAsPrinted', class: 'btn' %>
    <%= render 'show_stripe_link' %>
  <% else %>
    <a href="/orders/<%= @sale.guid %>" class="btn">
      View Customer URL
    </a>
    <%= render 'show_stripe_link' %>
  <% end %>
</p>

<div class="tabs">
  <div class="tab">
    Order
  </div>
  <div class="tab">
    Shipping
  </div>
  <div class="tab">
    Data
  </div>
  <div class="card">
    <%= render 'show_order' %>
  </div>
  <div class="card">
    <%= render 'show_shipping' %>
  </div>
  <div class="card">
    <p>
      <pre><%= JSON.pretty_generate(JSON.parse(@sale.description)) %></pre>
    </p>
  </div>
</div>

<%= content_for :js do %>
<script>
  $('#markAsPrinted').on('ajax:success', function(event) {
    $('#markAsPrinted')
      .text('Yay!')
      .fadeOut(function() {
        location.reload()
      });
  });
  $('#markAsPrinted').on('ajax:error', function(event) {
    alert('An error occurred. Try again.');
  });

</script>
<script>
  $(document).ready(function(){
    $('.tabs').tabs();
  });
</script>
<% end %>
