<p id="notice"><%= notice %></p>

<p>
  <b>Email:</b>
  <%= @sale.email %>
</p>

<p>
  <b>Amount:</b>
  <%= @sale.amount %>
</p>

<p>
  <b>Description:</b>
  <pre><%= JSON.pretty_generate(JSON.parse(@sale.description)) %></pre>
</p>


<%= link_to 'Edit', edit_sale_path(@sale) %> |
<%= link_to 'Back', sales_path %>
