<p id="notice"><%= notice %></p>

<p>
  <b>Email:</b>
  <%= @sale.email %>
</p>

<p>
  <b>Guid:</b>
  <%= @sale.guid %>
</p>

<p>
  <b>Description:</b>
  <%= @sale.description %>
</p>


<%= link_to 'Edit', edit_sale_path(@sale) %> |
<%= link_to 'Back', sales_path %>
