<!DOCTYPE html>
<%# paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -%>
<!--[if lt IE 7 ]> <html class="nojs ie ie6"> <![endif]-->
<!--[if IE 7 ]>    <html class="nojs ie ie7"> <![endif]-->
<!--[if IE 8 ]>    <html class="nojs ie ie8"> <![endif]-->
<!--[if IE 9 ]>    <html class="nojs ie ie9"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="nojs"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <%# Always force latest IE rendering engine (even in intranet) & Chrome Frame
      Remove this if you use the .htaccess %>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script>
    document.documentElement.className = document.documentElement.className.replace('nojs', ' ');
  </script>
  <title>
    <%= "#{@subtitle} from " if @subtitle.present? %><%= @title %> | handmade bicycle panniers and accessories
  </title>
  <% cache 'meta_description' do %>
    <meta description="<%= Company.first.description if Company.first.description.present? %>">
  <% end %>
  <link type="text/plain" rel="author" href="http://builtbyswift.com/humans.txt">
  <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <%= stylesheet_link_tag "application" %>
  <%= yield :css %>
  <%= csrf_meta_tag %>
</head>
<body id="page_<%= controller_name.downcase %>_<%= action_name.downcase %>">
  <div class="container-menu-wrap">
    <div class="container container-menu">
      <div class="sixteen columns menu--row-btns">
        <i id="global-menu-btn" class="entypo entypo-menu">&#9776;</i>
        <% cache 'fox_and_cart' do %>
          <%= image_tag "fox-100.png", :class => "menu-fox img-fox" %>
          <a href="<%=APP_CONFIG['store_host']%><%=APP_CONFIG['review_cart_path']%><%=APP_CONFIG['store_userid']%>" title="View Your Cart or Checkout">
            <i class='entypo entypo-cart'>&#59197;</i>
          </a>
        <% end %>
        <br class="clear">
      </div>
      <%= render 'shared/global_nav' %>
    </div>
  </div>
  <% if @company.front_door_sign.present? %>
    <h2 class="front_door_sign">
      <%= @company.front_door_sign %>
    </h2>
  <% end %>
  <%= yield :flash %>
  <%# render "shared/checkout" %>
  <div class="container container-logo">
    <div class="sixteen columns clearfix row-header" style="text-align: center">
      <h1 class="row-header--logo-wrap">
        <a href="/" class="row-header--link" title="Go Home">
          <%= image_tag "logo.png", :class => "row-header--logo", :alt => "Swift Industries" %>
        </a>
      </h1>
      <h2 class="row-header--description">
        <% cache 'company_description' do %>
          <%= Company.first.description if Company.first.description.present? %>
        <% end %>
      </h2>
    </div>
  </div>
  <div class="container container-main container-w-padding">
    <%= yield %>
  </div>
  <div class="container-footer-wrap">
    <div class="container container-footer">
      <%= render "shared/footer" %>
      <%= render "shared/no_js" %>
      <%= render "shared/humans" %>
    </div>
  </div>
  <%= javascript_include_tag "application" %>
  <%= yield :js %>
  <%= render "shared/analytics" unless Rails.env == "development" %>
  <div class=lightbox><img class=lightbox-img><div class=lightbox-close></div></div>
</body>
</html>
