<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>
    <%= @title %><%= ": #{@subtitle}" unless @subtitle.blank? %> | handmade bicycle panniers and accessories
  </title>
  <%= stylesheet_link_tag "application-hub" %>
  <%= yield :css %>
  <%= csrf_meta_tag %>
  <!-- Inline js requires that this be up here in the <head> -->
  <%= javascript_include_tag "hub" %>
</head>
<body class="hub" id="page_<%= controller_name.downcase %>_<%= action_name.downcase %>">
  <p id="js_app-notice" class="app-notice" style="display:none"></p>
  <p id="js_app-alert" class="app-alert" style="display:none"></p>
  <div class="l-container--fluid l-container--constrained">
    <%= yield %>
  </div>
  <%= yield :js %>
</body>
</html>
