<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <script>
      var _errs=["512fb0e369144c0b5600002f"];(function(a,b){a.onerror=function(){_errs.push(arguments)};
      var d=function(){var a=b.createElement("script"),c=b.getElementsByTagName("script")[0];
      a.src="//d15qhc0lu1ghnk.cloudfront.net/beacon.js";a.async=!0;
      c.parentNode.insertBefore(a,c)};a.addEventListener?a.addEventListener("load",d,!1):
      a.attachEvent("onload",d)})(window,document);
  </script>
  <title>
    <%= @title %><%= ": #{@subtitle}" unless @subtitle.blank? %> | handmade bicycle panniers and accessories
  </title>
  <%= stylesheet_link_tag "application-hub" %>
  <%= yield :css %>
  <%= csrf_meta_tag %>
</head>
<body class="hub" id="page_<%= controller_name.downcase %>_<%= action_name.downcase %>">
  <%= yield :flash %>
  <div id="box" class="container">
    <%= yield %>
  </div>
  <%= javascript_include_tag "hub" %>
  <%= yield :js %>
</body>
</html>
